<div class="span3">

    <div class="account-container">

        <div class="account-avatar">
            <img src="__PUBLIC__/mySpace/img/headshot.png" alt="" class="thumbnail" />
        </div> <!-- /account-avatar -->

        <div class="account-details">

            <span class="account-name">{$name}</span>

            <span class="account-role">Administrator</span>

            <!--<span class="account-actions">-->
							<!--<a href="javascript:;">Profile</a> |-->

							<!--<a href="javascript:;">Edit Settings</a>-->
						<!--</span>-->

        </div> <!-- /account-details -->

    </div> <!-- /account-container -->

    <hr />

    <ul id="main-nav" class="nav nav-tabs nav-stacked">


        <li class="active">
            <a href="index.php?a=account">
                <i class="icon-user"></i>
                用户中心
            </a>
        </li>

        <!--<li>-->
            <!--<a href="index.php?a=account">-->
                <!--<i class="icon-home"></i>-->
                <!--ICO产品-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="index.php?a=account">-->
                <!--<i class="icon-pushpin"></i>-->
                <!--指数产品-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="index.php?a=account">-->
                <!--<i class="icon-th-list"></i>-->
                <!--理财产品-->
            <!--</a>-->
        <!--</li>-->

        <!--<li class="">-->
            <!--<a href="__PUBLIC__/mySpace/grid.html">-->
                <!--<i class="icon-th-large"></i>-->
                <!--Grid Layout-->
                <!--<span class="label label-warning pull-right">5</span>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="__PUBLIC__/mySpace/charts.html">-->
                <!--<i class="icon-signal"></i>-->
                <!--Charts-->
            <!--</a>-->
        <!--</li>-->



        <!--<li>-->
            <!--<a href="__PUBLIC__/mySpace/login.html">-->
                <!--<i class="icon-lock"></i>-->
                <!--Login-->
            <!--</a>-->
        <!--</li>-->

    </ul>



    <hr />

    <!--<div class="sidebar-extra">-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>-->
    <!--</div> &lt;!&ndash; .sidebar-extra &ndash;&gt;-->

    <!--<br />-->

</div> <!-- /span3 -->
