<div class="page-content" style="margin-top: 0px;">
    <!--<div class="page-content" >-->


    <div class=" radius"  style="background-color: transparent;">
        <!--<div class=" radius"  style="background-color: #ffffff;">-->

        <div class="container profile">

            <!-- BEGIN PAGE BREADCRUMBS -->
            <div class="title">
                <h2 style="text-align: center;padding-top: 10px;" class=" sbold uppercase">Mobicoin创新点</h2>

            </div>

            <!--END PAGE BREADCRUMBS -->
            <!--BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="profile">
                    <div class="tabbable-line tabbable-full-width">

                        <div class="tab-content" style="border: none;">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <p>

                                                <img  style="width: 64px;height: 64px;display: block;float: right;margin-top: 30px;" src="__PUBLIC__/images/innovation-0.png" class="img-responsive pic-bordered" alt="" />

                                            </p>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 profile-info">
                                                    <h3 class=" sbold uppercase">魔币(MBC)供给有限价值高</h3>
                                                    <p style="text-indent: 2em;">
                                                        Mbc代币上线交易后，供给总量为2000万个，则变动看各游戏玩家对魔币的使用需要，如果首先用于支持商业运营、区块链+游戏的应用场景，玩家越多，魔币的使用需求就越大，使用价值也越高。
                                                    </p>



                                                </div>
                                                <!--end col-md-8-->
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->

                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <p>

                                                <img  style="width: 64px;height: 64px;display: block;float: right;margin-top: 30px;" src="__PUBLIC__/images/innovation-5.png" class="img-responsive pic-bordered" alt="" />

                                            </p>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 profile-info">
                                                    <h3 class=" sbold uppercase">魔币(MBC)钱包即交易兑换</h3>
                                                    <p  style="text-indent: 2em;">
                                                        Mbc代币钱包兼容安卓（Android）、苹果IOS等多平台运行，并拟将支持以太币ETH等多款币种交易兑换。账户余额和私人密钥由区块链备份，支持在多个设备上使用同一个账号，用户可通过区块链在账号意外丢失或者设备切换时重新找回资金。 代币钱包SDK拟将作为一种魔币(MBC)的通用支付、记账与清结算组件，内嵌到本项目的多个合作游戏中，为游戏世界提供一个互联互通的支付方式与虚拟财产存储手段，从而打破传统游戏经济中的孤岛现象。
                                                    </p>



                                                </div>
                                                <!--end col-md-8-->
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->

                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <p>

                                                <img  style="width: 64px;height: 64px;display: block;float: right;margin-top: 30px;" src="__PUBLIC__/images/innovation-4.png" class="img-responsive pic-bordered" alt="" />

                                            </p>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 profile-info">
                                                    <h3 class=" sbold uppercase">魔币(MBC)数据明晰可信</h3>
                                                    <p style="text-indent: 2em;">
                                                        Mbc代币是使用区块链技术开发的不可篡改，对代币钱包用户的所有充值、兑换、交易、被奖赏、时长、余额等有价值的明细信息进 行脱敏及加密后存证于公链之上，记录永久保存且不可篡改。 基于此，一方面即便某个游戏公司倒闭也不妨碍数据的持续可用性， 数据成为玩家绑定。
                                                    </p>



                                                </div>
                                                <!--end col-md-8-->
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->

                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <p style="text-indent: 2em;">

                                                <img  style="width: 64px;height: 64px;display: block;float: right;margin-top: 30px;" src="__PUBLIC__/images/innovation-1.png" class="img-responsive pic-bordered" alt="" />

                                            </p>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 profile-info">
                                                    <h3 class=" sbold uppercase">游戏行业价值前景广阔</h3>
                                                    <p style="text-indent: 2em;">
                                                        据统计，2016年全球游戏产业产值已首次突破1000亿美元，超过了电影与音乐产业的总和。预计到2020年，全球游戏产业产值将达到 1290亿美元。亚太地区占全球游戏市场规模的46%、北美和欧洲地区各占24%，其中，中国游戏玩家93%的支出流向中国游戏开发公司 开发的游戏，美国游戏玩家56%的支出投向美国游戏，36%的欧洲游戏玩家支出投向欧洲游戏。
                                                    </p>



                                                </div>
                                                <!--end col-md-8-->
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->

                                        </div>

                                    </div>


                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <p>

                                                <img  style="width: 64px;height: 64px;display: block;float: right;margin-top: 30px;" src="__PUBLIC__/images/innovation-2.png" class="img-responsive pic-bordered" alt="" />

                                            </p>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 profile-info">
                                                    <h3 class=" sbold uppercase">游戏行业存在问题所在</h3>
                                                    <p style="text-indent: 2em;">
                                                        游戏经济系统的孤岛效应。 不同的游戏往往会形成其独立的虚拟经济系统，其发行的虚拟游戏币往往割裂地存在，流通渠道有限， 无法与其他游戏互联互通，又是由中心化运作的游戏公司决定其供给，极易造成过度增发导致币值贬值。其二，数据渠道垄断、数据 造假、缺失数据保护与数据归属规则。 其三，虚拟游戏内容交易。
                                                    </p>



                                                </div>
                                                <!--end col-md-8-->
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->

                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <p>

                                                <img  style="width: 64px;height: 64px;display: block;float: right;margin-top: 30px;" src="__PUBLIC__/images/innovation-3.png" class="img-responsive pic-bordered" alt="" />

                                            </p>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 profile-info">
                                                    <h3 class=" sbold uppercase">魔币(MBC)实时交易转让</h3>
                                                    <p style="text-indent: 2em;">
                                                        当游戏中使用魔币玩家达到一定规模后将考虑增加去中心化的虚拟游戏内容交易功能模块，允许玩家之间对游戏内的装备、服装、道具、甚至账户等进行交易转让。所有交易将由智能合约控制执行，交易过程将随机选择多个第三方玩家承担担保与仲裁角色，仲裁者将按交易价值获得适当比例的代币补偿。交易者、仲裁者、交易标的、交易价格等核心要素及全交易流程将记录在链上不可篡改，且以去中心化的方式自动执行，不受人为干预。
                                                    </p>



                                                </div>
                                                <!--end col-md-8-->
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->

                                        </div>

                                    </div>







                                </div>
                            </div>
                            <!--tab_1_2-->

                        </div>
                    </div>


                    <!--+++++++++++++++++++++++++++++++++++++++   -->




                    <!--+++++++++++++++++++++++++++++++++++++++++++++++++-->

                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>

        </div>


    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>
