<footer class="main-footer">

    <!--Footer Upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget about-widget">
                        <h2>About Sorto</h2>
                        <div class="text">
                            <p>These days are all share them with me oh baby a man is born he's a man of means then along come two they got nothing but their jeans the mate. </p>
                        </div>

                        <div class="social-links">
                            <a href="#"><span class="fa fa-facebook-f"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-instagram"></span></a>
                        </div>

                    </div>
                </div>

                <!--Footer Column-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget latest-news">
                        <h2>Latest News</h2>
                        <!--News Item-->
                        <div class="news-item">
                            <a href="#" class="news-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a>
                            <div class="update-time">JANUARY 05, 2016</div>
                        </div>
                        <!--News Item-->
                        <div class="news-item">
                            <a href="#" class="news-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a>
                            <div class="update-time">JANUARY 02, 2016</div>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column padd-left-60">
                    <div class="footer-widget links-widget">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>

                    </div>
                </div>

                <!--Footer Column-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget gallery-widget">
                        <h2>Flickr Widget</h2>
                        <div class="clearfix">
                            <figure class="image"><a href="__PUBLIC__/static/images/resource/footer-gallery-1.jpg" class="lightbox-image" title="Caption Here"><img src="__PUBLIC__/static/images/resource/footer-gallery-1.jpg" alt=""></a></figure>
                            <figure class="image"><a href="__PUBLIC__/static/images/resource/footer-gallery-2.jpg" class="lightbox-image" title="Caption Here"><img src="__PUBLIC__/static/images/resource/footer-gallery-2.jpg" alt=""></a></figure>
                            <figure class="image"><a href="__PUBLIC__/static/images/resource/footer-gallery-3.jpg" class="lightbox-image" title="Caption Here"><img src="__PUBLIC__/static/images/resource/footer-gallery-3.jpg" alt=""></a></figure>
                            <figure class="image"><a href="__PUBLIC__/static/images/resource/footer-gallery-4.jpg" class="lightbox-image" title="Caption Here"><img src="__PUBLIC__/static/images/resource/footer-gallery-4.jpg" alt=""></a></figure>
                            <figure class="image"><a href="__PUBLIC__/static/images/resource/footer-gallery-5.jpg" class="lightbox-image" title="Caption Here"><img src="__PUBLIC__/static/images/resource/footer-gallery-5.jpg" alt=""></a></figure>
                            <figure class="image"><a href="__PUBLIC__/static/images/resource/footer-gallery-6.jpg" class="lightbox-image" title="Caption Here"><img src="__PUBLIC__/static/images/resource/footer-gallery-6.jpg" alt=""></a></figure>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="outer-box text-center">

                <!--Copyright-->
                <div class="copyright">&copy; Copyrights 2016 <a href="__PUBLIC__/static/" target="_blank">ThemeCraze</a>. All rights reserved</div>

            </div>
        </div>
    </div>

</footer>