<header id="header" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo">
            <!--<a href="index.html"><span class="text"><img src="__PUBLIC__/img/logo.png"></span></a>-->
            <!--<a href="index.html"><img src="__PUBLIC__/img/logo.png"></a>-->
            <img style="width: 150px;line-height: 80px;vertical-align: middle;padding: 10px;" src="__PUBLIC__/img/logo.png">

            <!--__PUBLIC__/img/logo.png-->
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation" style="background: transparent !important;">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item"><a class="my_center" href="index.html" >首页</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle my_center" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">&nbsp;&nbsp;我要理财 <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" style="text-align: center;min-width: 100px;">
                            <li><a href="download.html">ICO基金</a></li>
                            <li><a href="blog.html">指数基金</a></li>
                            <li><a href="blog-single.html">套利基金</a></li>

                        </ul>
                    </li><!--//dropdown-->
                    <!--<li class="nav-item"><a href="features.html">我要理财</a></li>-->
                    <li class="nav-item"><a class="my_center"  href="pricing.html">资金管理</a></li>
                    <li class="nav-item"><a class="my_center"  href="pricing.html">安全保障</a></li>


                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle my_center" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">&nbsp;&nbsp;客户服务 <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu"  style="text-align: center;min-width: 100px;">
                            <li><a href="download.html">关于我们</a></li>
                            <li><a href="blog.html">帮助中心</a></li>
                            <li><a href="blog-single.html">联系我们</a></li>

                        </ul>
                    </li><!--//dropdown-->



                    <li class="nav-item"><a class="my_center"  href="login.html">登录</a></li>
                    <li class="nav-item"><a class="my_center"  href="login.html">注册</a></li>
                    <!--<li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="signup.html">注册</a></li>-->
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->

