<!--众筹项目-->
<div class="page-content" style="">
    <!--<div class="page-content" >-->


    <div class="container radius"  style="background-color: #ffffff;">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <div class="title">

            <div style="font-size:20px;font-weight: 600;margin-top: 30px;">
                <span>众筹项目</span>
                <br>
                <!--<i style="color: red;" class="fa fa-square"></i>-->

                <!--<br>-->




                MoBiCoin
            </div>
        </div>

        <!--END PAGE BREADCRUMBS -->
        <!--BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="profile">
                <div class="tabbable-line tabbable-full-width">

                    <div class="tab-content" style="border: none;">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-unstyled profile-nav">
                                        <li style="height: 290px;overflow: hidden;border-radius:20px !important;">

                                            <!--<img style="height: 330px;width: 100%;" src="__PUBLIC__/resource/pages/media/gallery/item_img1.jpg" class="img-responsive pic-bordered" alt="" />-->
                                            <img id="zcxmimg" style="opacity:0.8;<?php if($pc == 'pc'){echo 'height: 290px;';}else{ echo 'height: 290px;';} ?>width: 100%;" src="__PUBLIC__/img/product_introductor.jpg" class="img-responsive pic-bordered" alt="" />


                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12 profile-info">
                                            <h3 class="font-green sbold uppercase">魔币众筹（MBC）</h3>
                                            <p>
                                                魔币以数据为出发点，结合行业热点，对当前数字货币在全球的发展趋势作出分析和判断。为数字货币投资者提供专业的实时行情大数据分析服务(社会化情绪指数、社会化大数据)，帮助用户在投资时作出更加好的决定，为广大数字货币爱好者提供一个自由的网上交易的平台。

                                            </p>
                                            <p>
                                                已筹金额47691
                                                <button style="margin-top: -10px;" type="button" data-loading-text="Loading..." class="pull-right btn red mt-ladda-btn ladda-button mt-progress-demo btn-circle" data-style="slide-left">
                                                    <span class="ladda-label">进行中</span>
                                                </button>
                                                <!--<a href="javascript:;" type="button" class="btn btn-circle red btn-outline " style="float: right;" >进行中</a>-->
                                            </p>




                                            <div style="height:10px;border-radius:10px !important;background-color: #ffeffc;" class="progress progress-striped active">
                                                <div id="progress" class="progress-bar progress-bar-danger" role="progressbar"
                                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 0%;">
                                                    <!--<span class="sr-only">40% 完成</span>-->
                                                </div>
                                            </div>

                                            <a href="index.php?&a=productdet" type="button" class="btn dark" style="border-radius:6px !important;" >立即参与</a>
                                            <a href="index.php?&a=productdet" type="button" class="btn purple-sharp btn-outline sbole uppercase" style="float: right;border-radius:6px !important;" >查看详情</a>


                                            <!--<input style="margin-top:10px;" type="button" onclick="callpay()" class="btn btn-circle green-sharp btn-outline  btn-block sbold uppercase" value="立即支持">-->


                                        </div>
                                        <!--end col-md-8-->
                                        <!--end col-md-4-->
                                    </div>
                                    <!--end row-->

                                </div>
                            </div>
                        </div>
                        <!--tab_1_2-->

                    </div>
                </div>


                <!--+++++++++++++++++++++++++++++++++++++++   -->




                <!--+++++++++++++++++++++++++++++++++++++++++++++++++-->

            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>


    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>


<!--众筹资讯-->
<div class="page-content" style="">
    <!--<div class="page-content" >-->


    <div class="container radius"  style="background-color: #ffffff;">

        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="search-page search-content-3">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="row" style="padding-top: 30px;">





                            <div class="col-md-4" >
                                <div class="tile-container" >

                                    <div style="margin-bottom: 10px;">
                                        <!--<i class="icon-social-dribbble font-green"></i>-->
                                        <!--<img class="news_img" src="__PUBLIC__/images/news1.png">-->
                                        <span style="font-weight:600;font-size:20px;">众筹资讯</span>        <span onclick="window.location.href='index.php?&a=zczx';" style="cursor: pointer;display:inherit;float:right;">&lt;&lt;更多</span>
                                    </div>

                                    <div class="tile-thumbnail" >
                                        <a href="index.php?&a=zczx" >
                                            <img class="scale" src="__PUBLIC__/images/zczx.png" />
                                        </a>
                                    </div>
                                    <div style="margin-top:10px;">

                                        <div class="tile-desc">
                                            <volist name="zczx" id="zx">
                                                <div class="new_item">
                                                    <a href="index.php?&a=newsdet&id={$zx.id}" style="width:211px;display: inline-block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;text-decoration: none;">{$zx.title}</a>

                                                    <span style="display: inline-block;" class="pull-right">

                                                                                        <?php
                                                                                        $time = strtotime($zx['create_time']);
                                                                                        echo date("Y-m-d",$time);

                                                                                        ?>

                                                                                    </span>
                                                </div>
                                            </volist>
                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南啊手动阀-->
                                            <!--</div>-->
                                            <!--<div  class="new_item">-->
                                            <!--区块链开发指南阿斯顿发射点风格-->
                                            <!--</div>-->
                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南阿尔泰个-->
                                            <!--</div>-->
                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南岁的法国-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tile-container">

                                    <div style="margin-bottom: 10px;">
                                        <!--<i class="icon-social-dribbble font-green"></i>-->
                                        <!--<img class="news_img" src="__PUBLIC__/images/news2.png">-->

                                        <span style="font-weight:600;font-size:20px;">行业新闻</span>
                                        <span onclick="window.location.href='index.php?&a=hyxw';" style="cursor: pointer;display:inherit;float:right;">&lt;&lt;更多</span>
                                    </div>





                                    <div class="tile-thumbnail">
                                        <a href="index.php?&a=hyxw">
                                            <img class="scale"  src="__PUBLIC__/images/hyxw.png" />
                                        </a>
                                    </div>
                                    <div style="margin-top:10px;">

                                        <div class="tile-desc">
                                            <volist name="hyxw" id="xw">
                                                <div class="new_item">
                                                    <a  href="index.php?&a=newsdet&id={$xw.id}" style="width:211px;display: inline-block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;text-decoration: none;">
                                                        {$xw.title}
                                                    </a>

                                                    <span style="display: inline-block;" class="pull-right">

                                                                                        <?php
                                                                                        $time = strtotime($xw['create_time']);
                                                                                        echo date("Y-m-d",$time);

                                                                                        ?>

                                                                                    </span>
                                                </div>
                                            </volist>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tile-container">

                                    <div style="margin-bottom: 10px;">
                                        <!--<i class="icon-social-dribbble font-green"></i>-->
                                        <!--<img class="news_img" src="__PUBLIC__/images/news3.png">-->

                                        <span style="font-weight:600;font-size:20px;">媒体报道</span>        <span onclick="window.location.href='index.php?&a=mtbd';" style="cursor: pointer;display:inherit;float:right;">&lt;&lt;更多</span>
                                    </div>

                                    <div class="tile-thumbnail">
                                        <a href="index.php?&a=mtbd">
                                            <img class="scale"  src="__PUBLIC__/images/mtbd.png" />
                                        </a>
                                    </div>
                                    <div style="margin-top:10px;">

                                        <div class="tile-desc">

                                            <volist name="mtbd" id="bd">
                                                <div class="new_item">
                                                    <a  href="index.php?&a=newsdet&id={$bd.id}" style="width:211px;display: inline-block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;text-decoration: none;">
                                                        {$bd.title}
                                                    </a>

                                                    <span style="display: inline-block;" class="pull-right">

                                                                                        <?php
                                                                                        $time = strtotime($bd['create_time']);
                                                                                        echo date("Y-m-d",$time);

                                                                                        ?>

                                                                                    </span>
                                                </div>
                                            </volist>

                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南啊手动阀-->
                                            <!--</div>-->
                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南阿斯顿发射点风格-->
                                            <!--</div>-->
                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南阿尔泰个-->
                                            <!--</div>-->
                                            <!--<div class="new_item">-->
                                            <!--区块链开发指南岁的法国-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->



    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>