<!--<div class="col-lg-3">-->
<!--<div class="blog-single-sidebar bordered blog-container">-->
<!--<div class="blog-single-sidebar-search">-->
<!--<div class="input-icon right">-->
<!--<i class="icon-magnifier"></i>-->
<!--<input type="text" class="form-control" placeholder="Search Blog"> </div>-->
<!--</div>-->
<!--<div class="blog-single-sidebar-recent">-->
<!--<h3 class="blog-sidebar-title uppercase">Recent Posts</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="javascript:;">Metronic Admin Progress</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">New UI Features</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">Lorem Ipsum Dolore Amet</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">Userfull Pages Released</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="blog-single-sidebar-tags">-->
<!--<h3 class="blog-sidebar-title uppercase">Tags</h3>-->
<!--<ul class="blog-post-tags">-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">Bootstrap</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">Sass</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">HTML</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">CSS</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">Gulp</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">Framework</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">Admin Theme</a>-->
<!--</li>-->
<!--<li class="uppercase">-->
<!--<a href="javascript:;">UI Features</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="blog-single-sidebar-links">-->
<!--<h3 class="blog-sidebar-title uppercase">Useful Links</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="javascript:;">Lorem Ipsum </a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">Dolore Amet</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">Metronic Database</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">UI Features</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">Advanced Forms</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="blog-single-sidebar-ui">-->
<!--<h3 class="blog-sidebar-title uppercase">UI Examples</h3>-->
<!--<div class="row ui-margin">-->
<!--<div class="col-xs-4 ui-padding">-->
<!--<a href="javascript:;">-->
<!--<img src="__PUBLIC__/resource/pages/img/background/1.jpg" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-xs-4 ui-padding">-->
<!--<a href="javascript:;">-->
<!--<img src="__PUBLIC__/resource/pages/img/background/37.jpg" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-xs-4 ui-padding">-->
<!--<a href="javascript:;">-->
<!--<img src="__PUBLIC__/resource/pages/img/background/57.jpg" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-xs-4 ui-padding">-->
<!--<a href="javascript:;">-->
<!--<img src="__PUBLIC__/resource/pages/img/background/53.jpg" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-xs-4 ui-padding">-->
<!--<a href="javascript:;">-->
<!--<img src="__PUBLIC__/resource/pages/img/background/59.jpg" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-xs-4 ui-padding">-->
<!--<a href="javascript:;">-->
<!--<img src="__PUBLIC__/resource/pages/img/background/42.jpg" />-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



<div class="col-md-4">
    <!-- BEGIN PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-edit font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">推荐文章</span>
            </div>
            <div class="actions">
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-cloud-upload"></i>-->
                <!--</a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-wrench"></i>-->
                <!--</a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascriptt:;"> </a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-trash"></i>-->
                <!--</a>-->
            </div>
        </div>

        <div class="portlet-body">

            <volist name="right" id="vo">

                <!--<div class="note <?php if($i==1){echo ' note-success';}if($i==2){echo ' note-info';}if($i==3){echo ' note-danger';}if($i==4){echo ' note-warning';}if($i==5){echo ' note-success';}?>" >-->
                <!--&lt;!&ndash;<h4 class="block">&ndash;&gt;-->
                <!--&lt;!&ndash;</h4>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--<a style="font-weight: 600;color: #000;text-decoration: none;width:231px;display: inline-block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;" href="index.php?&a=newsdet&id={$vo.id}">{$vo.title}</a>-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--</div>-->



                <h4 class="" style="text-align: center;">
                    <a class="btn btn-xs red" style="margin-top:-10px;margin-left:-50px;">{$i}</a>
                    <a style="color: black;text-decoration: none;width:231px;display: inline-block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;" href="index.php?&a=newsdet&id={$vo.id}">{$vo.title}
                    </a>
                </h4>


                <!--<a style="font-weight: 600;color: #000;text-decoration: none;width:231px;display: inline-block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;" href="index.php?&a=newsdet&id={$vo.id}">-->
                <!--<i class="icon-social-dribbble font-purple"></i> &nbsp;{$vo.title}-->


                <!--</a>-->

            </volist>
            <!--<div class="note note-success" style="height:65px;">-->
            <!--<h4 class="block">-->
            <!--标题1111111111111111</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->

            <!--<div class="note note-info" style="height:65px;">-->
            <!--<h4 class="block">-->
            <!--标题2222222222222222-->
            <!--</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="note note-danger" style="height:65px;">-->
            <!--<h4 class="block">-->
            <!--Danger! Some Header Goes Here-->
            <!--</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet.\ Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="note note-warning" style="height:65px;">-->
            <!--<h4 class="block">-->
            <!--Warning! Some Header Goes Here-->
            <!--</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="note note-success" style="height:65px;">-->
            <!--<h4 class="block">-->
            <!--Warning! Some Header Goes Here-->
            <!--</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->


        </div>





        <!-- END PORTLET-->
    </div>

    <div class="portlet light ">


        <div class="portlet-title">
            <div class="caption">
                <i class="icon-edit font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">热门标签</span>
            </div>
            <div class="actions">
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-cloud-upload"></i>-->
                <!--</a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-wrench"></i>-->
                <!--</a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascriptt:;"> </a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-trash"></i>-->
                <!--</a>-->
            </div>
        </div>


        <div class="portlet-body">



            <?php


                $str= '';
                $count = count($tag_list);
                for($i=0;$i<$count;$i++){

               $str .='<a style="margin-right:5px;margin-bottom:5px;" href="index.php?&a=tag&tag='.$tag_list[$i].'" class="btn btn-sm btn-default mt-ladda-btn ladda-button btn-outline btn-circle" data-style="expand-left" data-spinner-color="#333">
            <span class="ladda-label">'.$tag_list[$i].'</span>
            </a>';
            }
            echo $str;

            ?>

            <!--$str .= "<span onclick='window.location.href=\"index.php?&a=tag&tag=".$tag_list[$i]."\";'  style='cursor:pointer;display:inline-block;margin-bottom:3px;' class='label label-info'>".$tag_list[$i]."</span>&nbsp;";-->




            <!--<span class="label label-info label_style">比特币</span>-->
            <!--<span class="label label-info label_style">BTC</span>-->
            <!--<span class="label label-info label_style">区块链</span>-->
            <!--<span class="label label-info label_style">莱特币</span>-->
            <!--<span class="label label-info label_style">比特币行情</span>-->
            <!--<span class="label label-info label_style">以太坊</span>-->
            <!--<span class="label label-info label_style">ETH</span>-->
            <!--<span class="label label-info label_style">魔币</span>-->
            <!--<span class="label label-info label_style">魔币价格</span>-->
            <!--<span class="label label-info label_style">魔币行情</span>-->
            <!--<span class="label label-info label_style">魔币分析</span>-->


            <!--<div class="note note-success">-->
            <!--<h4 class="block">Success! Some Header Goes Here</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="note note-info">-->
            <!--<h4 class="block">Info! Some Header Goes Here</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="note note-danger">-->
            <!--<h4 class="block">Danger! Some Header Goes Here</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet.\ Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="note note-warning">-->
            <!--<h4 class="block">Warning! Some Header Goes Here</h4>-->
            <!--&lt;!&ndash;<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum. </p>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
</div>
