<div class="page-head">


    <div class="col-md-12" style="padding-bottom:40px;width:100%;background: url('http://static.ugchain.org/ico-img/images/develop.png') no-repeat;background-size:100% 100%;">

        <h1 style="color: #ffffff;margin:0 auto;<?php if($pc == "pc"){ echo 'width: 60%;padding:20px 0 30px 14px;';}else{ echo 'padding:20px 0 20px 0;';}?>">参与ICO注意事项</h1>


        <div class="" >

            <div class="<?php if($pc == 'pc'){ echo 'a_header';}else{ echo 'phone_header'; }?> toggle1">ICO参与方式 &gt;</div>

            <div class=" <?php if($pc == 'pc'){ echo 'p_body';}else{ echo 'phone_body'; }?> toggle11" >


                <p style="text-indent: 2em; ">官网：www.icomobi.com


            </div>

            <div class="<?php if($pc == 'pc'){ echo 'a_header';}else{ echo 'phone_header'; }?> toggle2">ICO时间安排 &gt;</div>

            <div class=" <?php if($pc == 'pc'){ echo 'p_body';}else{ echo 'phone_body'; }?>  toggle22" >


                <p style="text-indent: 2em; ">本次 ICO为期30天，起止时间分别为：北京时间2017年8月8日23:00至北京时间 2017年9月8日23:00，或达到募集上限时，ICO众筹立即结束。



            </div>

            <div class="<?php if($pc == 'pc'){ echo 'a_header';}else{ echo 'phone_header'; }?> toggle3">ICO奖励机制 &gt;</div>

            <div class=" <?php if($pc == 'pc'){ echo 'p_body';}else{ echo 'phone_body'; }?>  toggle33" >


                <p style="text-indent: 2em; ">Mobicoin在ICO计划早期给予各众筹者奖励，第一天参与时，可以获得1.2倍认购权重；第二至七天参与时可获得1.1倍认购权重；第八天及以后将不再给予奖励。




            </div>

            <div class="<?php if($pc == 'pc'){ echo 'a_header';}else{ echo 'phone_header'; }?> toggle4">ICO风险提示 &gt;</div>

            <div class=" <?php if($pc == 'pc'){ echo 'p_body';}else{ echo 'phone_body'; }?>  toggle44" >


                <p style="text-indent: 2em; ">1、数字加密货币现处于早期发展阶段，投资行为具有一定的风险性，用户务必先谨慎阅读MBC白皮书；
                <p style="text-indent: 2em; ">2、除非您充分了解了MBC的发展路线以及清楚区块链行业的相关风险，否则不建议参与本次ICO；
                <p style="text-indent: 2em; ">3、MBC基金会是非盈利组织，众筹参与者应该明白在法律范围内，MBC不做任何明示和暗示的保证；
                <p style="text-indent: 2em; ">4、此外，参与众筹者应该明白MBC基金会负责日常社区运作和资金运作，不具备资产所有权；
                <p style="text-indent: 2em; ">5、如您参与了本次MBC的ICO众筹，代表您已确认完全理解并认可白皮书中的各项条款说明。</p>



            </div>



        </div>



    </div>



</div>
