
<div class="page-wrapper-row"  style="">
    <div class="page-wrapper-bottom">
        <!-- BEGIN FOOTER -->
        <!-- BEGIN PRE-FOOTER -->
        <div class="page-prefooter" style="background-color: #ffffff;border-top:1px solid #eeeeee;">
            <div class="container">
                <div class="row">


                        <ul  class="page-breadcrumb breadcrumb" style="<?php if($pc == 'notpc'){ echo 'display: none;';}?>padding-left: 30px;padding-right:30px;max-width: 700px;margin:0 auto;margin-top:-15px;font-size:14px;background-color: transparent;">
                            <li>
                                <a class="top_top" target="_blank" style="color:#000000;text-decoration: none;" href="index.php?&a=about">关于我们</a>
                                <!--<i class="fa fa-circle"></i>-->
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="color:#000000;color:#000000;text-decoration: none;"  href="index.php?&a=news">新闻资讯</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="color:#000000;text-decoration: none;"  href="index.php?&a=productdet">产品众筹</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank"  style="color:#000000;text-decoration: none;" href="index.php?&a=about#tab_1_2">隐私政策</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="color:#000000;text-decoration: none;"  href="index.php?&a=about#tab_1_3">费率说明</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="color:#000000;text-decoration: none;"  href="index.php?&a=about#tab_1_4">帮助中心</a>
                            </li>
                        </ul>

                    <div style="<?php if($pc == 'pc'){ echo 'display: none;';}?>">

                        <ul class="page-breadcrumb breadcrumb" style="padding-left: 10px;padding-right:10px;margin:0 auto;background-color: transparent;width: 258px;">
                            <li>
                                <a class="top_top" target="_blank" style="text-decoration: none;" href="index.php?&a=about">关于我们</a>
                                <!--<i class="fa fa-circle"></i>-->
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="text-decoration: none;"  href="index.php?&a=news">新闻资讯</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="text-decoration: none;"  href="index.php?&a=productdet">产品众筹</a>
                                <!--<span style="display: inline-block;padding:0 10px;">|</span>-->
                            </li>

                        </ul>

                        <ul class="page-breadcrumb breadcrumb" style="padding-left: 10px;padding-right:10px;margin:0 auto;background-color: transparent;width: 258px;">

                        <li>
                                <a  class="top_top" target="_blank"  style="text-decoration: none;" href="index.php?&a=about#tab_1_2">隐私政策</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="text-decoration: none;"  href="index.php?&a=about#tab_1_3">费率说明</a>
                                <span style="display: inline-block;padding:0 10px;">|</span>
                            </li>
                            <li>
                                <a  class="top_top" target="_blank" style="text-decoration: none;"  href="index.php?&a=about#tab_1_3">帮助中心</a>
                            </li>
                        </ul>

                    </div>




                    <!--<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />-->
                    <div  class="top_top" style="border-top:1px solid #eeeeee;padding-left: 10%;<?php if($pc == 'pc'){ echo 'font-size:14px;margin-bottom: -10px;padding-top:20px;';}else{ echo 'padding-top:10px;';}?>">
                        友情链接：
                    </div>
                    <!--<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />-->
                    <!--<div style="text-align: center;">备案号 Copyright2017 bizhongchou.com 币众筹 All Rights Reserved. 杭州时戳信息科技有限公司 浙ICP备14013035号-1浙公网安备 33010602000708号</div>-->

                </div>
            </div>
        </div>
        <!-- END PRE-FOOTER -->
        <!-- BEGIN INNER FOOTER -->


        <div class="page-footer" style="">
            <div class="container">
                <!--<div style="text-align: center;height: 40px;"><span style="color:#000000 !important;">备案号 Copyright2017 bizhongchou.com 币众筹 All Rights Reserved. 杭州时戳信息科技有限公司 浙ICP备14013035号-1浙公网安备 33010602000708号</span></div>-->
                <div style="text-align: center;"><span style="color:#ffffff !important;">备案号 Copyright2017 bizhongchou.com 币众筹 All Rights Reserved. 杭州时戳信息科技有限公司 浙ICP备14013035号-1浙公网安备 33010602000708号</span></div>
                <!--<div style="text-align: center;"><span style="color:#ffffff !important;"> Copyright  2017 mobicoin.com All rights Reserved </span></div>-->
                <!--Copyright  2017 mobicoin.com All rights Reserved-->
            </div>
        </div>


        <!--<div class="scroll-to-top">-->
            <!--<i class="icon-arrow-up"></i>-->
        <!--</div>-->
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->
    </div>
</div>