<div class="col-md-4">
    <!-- BEGIN PORTLET-->
    <div class="portlet light radius">
        <div class="portlet-title" style="height: 50px;">
            <div class="caption">
                <!--<i class="icon-social-dribbble font-green" style="font-weight: 900; font-size: 20px;"></i>-->
                <span class="caption-subject font-dark bold "><span style="color: #424e98;display: inline-block;font-size: 2em;">{$Think.lang._DBCoin}</span>/{$Think.lang._Raised_Progress}</span>
            </div>

        </div>
        <div class="portlet-body">

            <div style="color:#000;margin-top: -20px;">
                目前累计资金：<span style="font-size:20px;color:red;font-weight: 600;">0BTC</span><br>

                <div  style="color:gray;margin-top: 10px;">
                    此项目须在 2017年09月25日00分前，获得 <span style="font-size:20px;color:red;font-weight: 600;">10000BTC</span> 的支持才可成功!<br>
                </div>

                <div class="row">
                    <div class="col-md-12 profile-info">


                        <button style="<?php if($pc=='pc'){ echo 'margin-top: -5px;';}else{ echo 'margin-top: -5px;';} ?>padding:5px 10px;" type="button" data-loading-text="Loading..." class="pull-right btn red btn-sm   btn-circle" data-style="slide-left">
                            <span class="ladda-label">{$Think.lang._Raised_going}</span>
                        </button>


                        <h3 class="font-red-haze">
                            {$Think.lang._Raised_Progress} <span data-counter="counterup" data-value="0">0</span>%
                        </h3>


                        <div style="height:10px;border-radius:10px !important;background-color: #ffeffc;" class="progress progress-striped active">
                            <div id="progress" class="progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 0%;">
                                <!--<span class="sr-only">40% 完成</span>-->
                            </div>
                        </div>

                        <div style="margin-left: 0px;">


                            <div style="width:21%;float: left;font-size: 12px;">
                                <i class="fa fa-users" style="color:gray;"></i> 0 <br>支持人数
                            </div>
                            <div style="width: 29%;float: left;font-size: 12px;padding-left:10px;">
                                <i class="fa fa-calendar-minus-o" style="color:gray;"></i> 25  <br>剩余天数
                            </div>
                            <div  style="font-size: 12px;float: left;">
                                <i class="fa fa-calculator" style="color:gray;"></i> 2017-09-01<br>开始时间
                            </div>

                        </div>


                    </div>
                </div>








            </div>
        </div>




    </div>






    <div class="portlet light radius">
        <div class="portlet-title" style="height: 50px;">
            <div class="caption" style="margin-top: 0px;">
                <!--<i class="icon-social-dribbble font-green" style="font-weight: 900; font-size: 20px;"></i>-->
                <!--<span class="caption-subject font-dark bold uppercase">  支持 ￥10.0000/（一份起）</span>-->
                <span class="caption-subject font-dark bold ">  <span style="color: #424e98;display: inline-block;font-size: 2em;">{$Think.lang._DBCoin}</span>/金额不限</span>
            </div>
            <div class="actions">
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-cloud-upload"></i>-->
                <!--</a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-wrench"></i>-->
                <!--</a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascriptt:;"> </a>-->
                <!--<a class="btn btn-circle btn-icon-only btn-default" href="javascriptt:;">-->
                <!--<i class="icon-trash"></i>-->
                <!--</a>-->
            </div>
        </div>
        <div class="portlet-body">

            <div style="margin-top:-20px;">
                <div style="margin-bottom: 10px;">
                    <span class="caption-subject font-dark bold uppercase" >不限投资人数</span><span style="display: inline-block;float: right;color: gray;">已参与0人次</span><br>

                </div>

                <p style="margin-top:0px;color:gray;">


                    参考官方信息<br/>
                    <div style="margin:-30px 0 0px;color: gray;">
                        <i class="fa fa-genderless"></i> 回报时间： 预计项目ICO成功结束后90天内
                    </div>

                    <!--<img src="__ROOT__/Public/images/product.png" alt="" class="img-responsive product-img">-->
                    <!--运费包邮  <span style="display: inherit;" class="pull-right"> 预计发放时间：项目成功后</span>-->
                </p>



                <!--<span class="funding-btn" onclick="callpay()">支持RMB</span>-->
                <input style="margin-top:-10px;" type="button"  onclick="window.location.href='index.php?&a=account_zhongchou';" class="btn btn-circle green-sharp btn-outline  btn-block sbold uppercase" value="立即支持">


            </div>
        </div>




    </div>



    <!-- END PORTLET-->
</div>