<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>关于我们-魔币众筹平台</title>
    <meta name="keywords" content="众筹,众筹平台,区块链,比特币,股权众筹,众筹项目,众筹网">
    <meta name="description" content="魔币众筹项目平台作为首家专注于数字货币众筹、区块链领域的创业众筹融资平台,提供ICO项目,众筹资讯,数据分析等服务,协助您实现自己的创业梦想。">




    <!--<title></title>-->
    <!--<meta name="keywords" content="">-->
    <!--<meta name="description" content="">-->



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PUBLIC__/resource/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PUBLIC__/resource/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/resource/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/resource/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="__PUBLIC__/img/icoico.ico" />



    <style>
        .new_item{
            padding-bottom:10px;
        }
        .nav_top_head{
            margin-right:30px;
            font-size:18px;

        }
        .nav_color_head{
            color:#000000;
        }
        .nav_color_head:hover{
            /*text-decoration: underline !important;*/
            color:red;
        }
        .nav_color_head2:link{
            color:#000000;
        }
        .nav_color_head2:hover{
            color:red;
        }
        .nav_color_head:active,.nav_color_head:visited.nav_color_head:link{
            text-decoration: none !important;
            color:#000000 !important;
        }

        .label_style{
            display: inline-block;
            margin-bottom:10px;
            font-size: 18px;
        }

        .p_header{
            text-align: center;font-weight: 600;
        }
        .p_content{
            font-size:16px !important;
            text-indent: 2em;
        }
        .radius{
            border-radius:10px !important;
        }
    </style>


</head>



<!-- END HEAD -->

<body class="page-container-bg-solid">
<div class="page-wrapper">

            <!-- BEGIN HEADER -->
            <include file="Public/header_top" keywords="about"/>
            <!-- END HEADER -->

    <div class="page-wrapper-row full-height" >
        <div class="page-wrapper-middle" >
            <!-- BEGIN CONTAINER -->
            <div class="page-container" style="margin-top: 115px;">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->




                    <div class="page-head" style=" <?php if($pc == 'notpc'){ echo 'height:180px';} else{echo 'height: 400px;';}?>">
                        <!--<div class="page-head" style="background:url('__PUBLIC__/resource/pages/media/gallery/item_img.jpg') no-repeat;height: 500px; ">-->

                        <img  style="<?php if($pc == 'notpc'){ echo 'height:180px;';} else{echo 'height: 400px;';}?>width: 100%; " src="__PUBLIC__/img/about.jpg">

                        <!--<div class="container">-->
                        <!--&lt;!&ndash; BEGIN PAGE TITLE &ndash;&gt;-->
                        <!--<div class="page-title">-->
                        <!--<h1>About Us-->
                        <!--<small>about us page</small>-->
                        <!--</h1>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END PAGE TITLE &ndash;&gt;-->
                        <!--&lt;!&ndash; BEGIN PAGE TOOLBAR &ndash;&gt;-->

                        <!--&lt;!&ndash; END PAGE TOOLBAR &ndash;&gt;-->
                        <!--</div>-->

                    </div>
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <!--<ul class="page-breadcrumb breadcrumb">-->
                                <!--<li>-->
                                    <!--<a href="index.php">首页</a>-->
                                    <!--<i class="fa fa-circle"></i>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">关于我们</a>-->
                                    <!--&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;-->
                                <!--</li>-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span>User</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="profile radius">
                                    <div class="tabbable-line tabbable-full-width">
                                        <ul class="nav nav-tabs"  style="text-align: center;">
                                            <li class="active" style="width: 25%;">
                                                <!--style="font-size: 18px !important;font-weight: 600;"-->
                                                <a href="#tab_1_1" data-toggle="tab" style="<?php if($pc == 'notpc'){ echo 'font-size: 14px;padding:5px 0px;';}else{echo 'font-size: 18px !important;font-weight: 600;';} ?>">关于我们</a>
                                            </li>
                                            <li style="width: 25%;">
                                                <a href="#tab_1_2" data-toggle="tab" style="<?php if($pc == 'notpc'){ echo 'font-size: 14px;padding:5px 0px;';}else{echo 'font-size: 18px !important;font-weight: 600;';} ?>">隐私政策</a>
                                            </li>
                                            <li style="width: 25%;">
                                                <a href="#tab_1_3" data-toggle="tab" style="<?php if($pc == 'notpc'){ echo 'font-size: 14px;padding:5px 0px;';}else{echo 'font-size: 18px !important;font-weight: 600;';} ?>">费率说明</a>
                                            </li>
                                            <li style="width: 25%;">
                                                <a href="#tab_1_4" data-toggle="tab" style="<?php if($pc == 'notpc'){ echo 'font-size: 14px;padding:5px 0px;';}else{echo 'font-size: 18px !important;font-weight: 600;';} ?>">帮助中心</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1_1" style="<?php if($pc == 'pc'){ echo 'height: 450px;';}?>">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="p_content" style="margin-top:-10px;">
                                                            魔币众筹平台隶属XX有限公司，作为国内首家专注于数字货币众筹、区块链领域的创业众筹融资平台,为数字货币、区块链创业者提供众筹综合数据服务，致力于推动国内数字货币创业浪潮，致力于推动数字资产中心化，通过搭建一个公平、公正、透明的在线融资平台,协助您实现自己的创业梦想。
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--tab_1_2-->
                                            <div class="tab-pane" id="tab_1_2">
                                                <div class="row">
                                                    <div class="col-md-12">


                                                        <p   style="margin-top:-10px;font-weight: 600;font-size: 18px;text-indent:2em;">(一)信息的提供、搜集及认证
                                                        　　<p  class="p_content" >您有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性、安全性和及时更新，以便魔币众筹为您提供服务并与您进行及时、有效的联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。
                                                        　　<p  class="p_content" >魔币众筹可能自公开及私人资料来源收集您的额外资料，以更好地了解币众筹用户，并为其度身订造币众筹服务、解决争议和确保在网站进行交易的安全性。币众筹仅收集魔币众筹认为就此目的及达成该目的所必须的关于您的个人资料。
                                                            <p  class="p_content" >您同意魔币众筹可以自行或通过合作的第三方机构对您提交或魔币众筹搜集的用户信息(包括但不限于您的个人身份证信息等)进行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。
                                                          　<p  class="p_content" >魔币众筹按照您在魔币众筹上的行为自动追踪关于您的某些资料。魔币众筹利用这些资料进行有关币众筹之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和币众筹的其他用户提供更好的服务。
                                                          　<p  class="p_content" >如果您将个人通讯信息(例如：手机短信、电邮或信件)交付给魔币众筹，或如果其他用户或第三方向魔币众筹发出关于您在魔币众筹上的活动或登录事项的通讯信息，魔币众筹可以将这些资料收集在您的专门档案中。
                                                          　<p   style="margin-top:-10px;font-weight: 600;font-size: 18px;text-indent:2em;">(二)用户信息的使用和披露
                                                        　  <p  class="p_content" >您同意魔币众筹可使用关于您的个人资料(包括但不限于魔币众筹持有的有关您的档案中的资料，及魔币众筹从您目前及以前在魔币众筹上的活动所获取的其他资料)以解决争议、对纠纷进行调停、确保在币众筹进行安全交易，并执行魔币众筹的服务协议及相关规则。魔币众筹有时候可能调查多个用户以识别问题或解决争议，特别是魔币众筹可审查您的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法或其他刑事犯罪活动，使魔币众筹免受其害，您同意魔币众筹可通过人工或自动程序对您的个人资料进行评价。
                                                        　　<p  class="p_content" >您同意魔币众筹可以使用您的个人资料以改进币众筹的推广和促销工作、分析网站的使用率、改善魔币众筹的内容和产品推广形式，并使魔币众筹的网站内容、设计和服务更能符合用户的要求。这些使用能改善魔币众筹的网页，以调整魔币众筹的网页使其更能符合您的需求，从而使您在使用魔币众筹服务时得到更为顺利、有效、安全及度身订造的交易体验。
                                                        　　<p  class="p_content" >您同意魔币众筹利用您的资料与您联络并(在某些情况下)向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用魔币众筹的通讯。您接受本协议即视为您同意收取这些资料。
                                                          　<p  class="p_content" >您注册成功后应妥善保管您的用户名和密码。您确认，无论是您还是您的代理人，用您的用户名和密码登录魔币众筹后在官网的一切行为均代表您并由您承担相应的法律后果。
                                                          　<p  class="p_content" >魔币众筹对于您提供的、自行收集到的、经认证的个人信息将按照本协议及有关规则予以保护、使用或者披露。魔币众筹将采用行业标准惯例以保护您的个人资料，但鉴于技术限制，魔币众筹不能确保您的全部私人通讯及其他个人资料不会通过本协议中未列明的途径泄露出去。
                                                          　<p  class="p_content" >您使用魔币众筹服务进行交易时，您即授权本公司将您的包括但不限于真实姓名、联系方式、信用状况等必要的个人信息和交易信息披露给与您交易的另一方或币众筹的合作机构(仅限于币众筹为完成拟向您提供的服务而合作的机构)。
                                                            <p  class="p_content" >魔币众筹有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照与本协议、币众筹有关规则或者与魔币众筹其他用户签订的有关协议的约定履行自己应尽的义务时(包括但不限于当您作为借款人借款逾期或有其他违约时)，币众筹有权根据自己的判断、有关协议和规则、国家生效裁决文书或者与该笔交易有关的其他用户的合理请求披露您的个人资料(包括但不限于在魔币众筹及互联网络上公布您的违法、违约行为，并有关将该内容记入任何与您相关的信用资料、档案或数据库)，并且作为出借人的其他用户可以采取发布您的个人信息的方式追索债权或通过司法部门要求魔币众筹提供相关资料，魔币众筹对此不承担任何责任。


                                                    </div>
                                                    <!--end col-md-9-->
                                                </div>
                                            </div>
                                            <!--end tab-pane-->
                                            <div class="tab-pane" id="tab_1_3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                            　  <p  style="margin-top:-30px;font-weight: 600;font-size: 18px;text-indent:2em;">充值费率
                                                            　　<p  class="p_content">人民币：免费
                                                            　　<p  class="p_content">比特币：免费
                                                            　　<p  class="p_content">ETC：免费
                                                            　　<p  class="p_content">ETH：免费
                                                            　　<p  class="p_content">人民币委托购买比特币费率
                                                            　　<p  class="p_content">手续费：千分之三(其中千分之二由交易所收取)
                                                            　　<p  class="p_content">单笔委托手续费最低5元
                                                            　　<p  class="p_content">参与众筹费率
                                                            　　<p  class="p_content">手续费：免费
                                                            　　<p style="font-weight: 600;font-size: 18px;text-indent:2em;">提现费率
                                                            　　<p  class="p_content">人民币：千分之五，每笔最低5元
                                                            　　<p  class="p_content">比特币：0.001 BTC
                                                            　　<p  class="p_content">ETC：0.01 ETC
                                                            　　<p  class="p_content">ETH：0.01 ETH
                                                            　　<p  class="p_content">众筹所得资产：仅收取矿工费
                                                            　　<p style="font-weight: 600;font-size: 18px;text-indent:2em;">注：
                                                            　　<p  class="p_content">由于费率涉及到后台程序调整，本页面未必能第一时间同步调整，请以实际操作页面显示的费率为准。
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end tab-pane-->
                                            <div class="tab-pane" id="tab_1_4">
                                                <div class="row profile-account">
                                                    <div class="col-md-12">

                                                        <p  style="margin-top:-20px;font-weight: 600;font-size: 18px;text-indent:2em;">1、注册登录魔币众筹官网账号，登录之后进行操作。
                                                                                    　　<p style="text-indent:2em;font-weight: 600;font-size: 18px;">2、你必须符合以下条件：
                                                                                    　　<p  class="p_content">年满18周岁以上(如未满18岁，可请老师或父母协助注册和提供银行账户发起项目);
                                                                                    　　<p  class="p_content">中华人民共和国公民，或能提供长期在中国居住证明的非中华人民共和国公民;
                                                                                    　　<p  class="p_content">拥有能够在中国地区接收人民币汇款的银行卡或者支付宝账户;
                                                                                    　　<p  class="p_content">提供必要的身份认证和资质认证，根据项目内容，有可能包括但不限于：身份证，护照，学历证明等。
                                                                                    　　<p style="font-weight: 600;font-size: 18px;text-indent:2em;">3、什么是ICO?
                                                                                    　　<p  class="p_content">以初始产生的数字加密货币作为回报的一种筹措资金的方式，适合于数字货币、区块链开源项目。
                                                                                    　　<p style="text-indent:2em;font-weight: 600;font-size: 18px;">4、什么是股权众筹?
                                                                                    　　<p  class="p_content">投资者对项目或公司进行投资，获得其一定比例的股权，适合于已经上线成熟产品并得到用户与投资人、机构初步认可的中大型团队/公司，比如钱包支付、交易平台、区块链等以规模化、平台型发展为目标的团队/公司。
                                                                                    　　<p style="text-indent:2em;font-weight: 600;font-size: 18px;">5、项目内容需要包含哪些信息?
                                                                                    　　<p  class="p_content">支持者在访问你的项目页面后，应能清楚了解：
                                                                                    　　<p  class="p_content">项目简介
                                                                                    　　<p  class="p_content">筹资时间和目标金额
                                                                                    　　<p  class="p_content">项目回报与发送时间
                                                                                    　　<p  class="p_content">以及其他项目所要求必备的信息
                                                                                    　　<p  class="p_content">你提供的信息越多，你的项目就越有说服力，支持者就越信任你。

                                                    </div>
                                                    <!--end col-md-9-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->


                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <include file="Public/footer"/>
</div>

<include file="Public/quick_sidebar"/>


<!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/resource/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!--<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/resource/global/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>-->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/resource/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>