
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>--->
    <!-- Global CSS -->
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="__PUBLIC__/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body{background: #f5f5f5}
        /*.exponDivBor{*/
            /*background: white;border-bottom: 1px solid lightgray;height: 50px;margin-left:3px;margin-right: 3px;*/
        /*}*/
        .DivDis{
            display: inline-block
        }
    </style>


</head>

<body class="features-page">
<!-- ******HEADER****** -->
<include file="Public/header"/>

<div class="headline-bg">
</div><!--//headline-bg-->

<!-- ******Video Section****** -->
<section class="features-video section section-on-bg" style="height: 500px;">
    <div class="container text-center">
        <h2 class="title">{$Think.lang._arbitrage_banner}</h2>
        <div class="video-container" style="color: white">
        <!--<iframe src="/player.vimeo.com/video/90299717?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            {$Think.lang._arbitrage_banner_content}
        </div><!--//video-container-->
    </div><!--//container-->
</section><!--//feature-video-->

<div class="features-tabbed section blog container" style="padding:0px 0px 10px;margin-top:50px;<?php if($pc!='pc')echo 'margin-top:-35px'?>">
    <div class="row" style="margin: 0px;">
        <div id="blog-mansonry" class="blog-list">
            <!--套利基金4板块开始-->
            <article class="post col-md-6 col-sm-6 col-xs-12" style="">
                <div class="post-inner">
                    <!--<figure class="post-thumb">-->
                    <!--<a href="blog-single.html"><img class="img-responsive" src="/Public/assets/images/blog/post-1-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <div class="row">
                        <div class="" style="text-align: center">
                            <h3>{$Think.lang._arbitrage_number1}<span style="color: crimson">&nbsp;{$Think.lang._arbitrage_number1_1}</h3>
                        </div>
                    </div>
                    <div class="content" style="margin: 0 auto;width: 260px">
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis" style="">{$Think.lang._arbitrage_Date_1}</h3><p class="indent DivDis">2017-09-01</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>


                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_fixed_1}</h3>
                            <p class="indent DivDis">3.650</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_year_1}</h3><p class="indent DivDis">3.65%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_estimate_1}</h3><p class="indent DivDis">200%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_yield_1}</h3>
                            <p style="color: red" class="indent DivDis">{$Think.lang._arbitrage_everyday_1}</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <div style="width: 30px;display: inline-block"></div>
                            <h3 class="post-title my_title DivDis" style="font-size: 20px; display: inline-block" >{$Think.lang._exponential_repayment_2}</h3>
                            <!--<p class="indent DivDis">3.650</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>

                        <button id="invest" type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-cta btn-cta-primary" style="margin-bottom: 25px;font-size: 20px;text-align: center;">{$Think.lang._ICO_money_3}</button>


                        <!--<div class="meta">-->
                        <!--<ul class="meta-list list-inline">-->
                        <!--<li class="post-time post_date date updated">16th Oct, 2014</li>-->
                        <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                        <!--<li class="post-comments-link">-->
                        <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>-->
                        <!--</li>-->
                        <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->
            <article class="post col-md-6 col-sm-6 col-xs-12" style="">
                <div class="post-inner">
                    <!--<figure class="post-thumb">-->
                    <!--<a href="blog-single.html"><img class="img-responsive" src="/Public/assets/images/blog/post-1-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <div class="row">
                        <div class="" style="text-align: center">
                            <h3>{$Think.lang._arbitrage_number_2}<span style="color: crimson">&nbsp;{$Think.lang._arbitrage_number_2_2}</h3>
                        </div>
                    </div>

                    <div class="content" style="margin: 0 auto;width: 260px">
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis" style="">{$Think.lang._arbitrage_Date_1}</h3><p class="indent DivDis">2017-10-01</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>


                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_fixed_1}</h3>
                            <p class="indent DivDis">3.650</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_year_1}</h3><p class="indent DivDis">3.65%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_estimate_1}</h3><p class="indent DivDis">200%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_yield_1}</h3>
                            <p style="color: red" class="indent DivDis">{$Think.lang._arbitrage_everyday_1}</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <div style="width: 30px;display: inline-block"></div>
                            <h3 class="post-title my_title DivDis" style="font-size: 20px; display: inline-block" >{$Think.lang._exponential_repayment_2}</h3>
                            <!--<p class="indent DivDis">3.650</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>

                        <button id="invest" type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-cta btn-cta-primary" style="margin-bottom: 25px;font-size: 20px;text-align: center;">{$Think.lang._ICO_money_3}</button>


                        <!--<div class="meta">-->
                        <!--<ul class="meta-list list-inline">-->
                        <!--<li class="post-time post_date date updated">16th Oct, 2014</li>-->
                        <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                        <!--<li class="post-comments-link">-->
                        <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>-->
                        <!--</li>-->
                        <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    </div><!--//content-->



                </div><!--//post-inner-->
            </article><!--//post-->
            <article class="post col-md-6 col-sm-6 col-xs-12" style="">
                <div class="post-inner">
                    <!--<figure class="post-thumb">-->
                    <!--<a href="blog-single.html"><img class="img-responsive" src="/Public/assets/images/blog/post-1-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <div class="row">
                        <div class="" style="text-align: center">
                            <h3>{$Think.lang._arbitrage_number_3}<span style="color: crimson">&nbsp;{$Think.lang._arbitrage_number1_1}</h3>
                        </div>
                    </div>
                    <div class="content" style="margin: 0 auto;width: 260px">
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis" style="">{$Think.lang._arbitrage_Date_1}</h3><p class="indent DivDis">2017-11-01</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>


                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_fixed_1}</h3>
                            <p class="indent DivDis">3.650</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_year_1}</h3><p class="indent DivDis">3.65%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_estimate_1}</h3><p class="indent DivDis">200%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_yield_1}</h3>
                            <p style="color: red" class="indent DivDis">{$Think.lang._arbitrage_everyday_1}</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <div style="width: 30px;display: inline-block"></div>
                            <h3 class="post-title my_title DivDis" style="font-size: 20px; display: inline-block" >{$Think.lang._exponential_repayment_2}</h3>
                            <!--<p class="indent DivDis">3.650</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>

                        <button id="invest" type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-cta btn-cta-primary" style="margin-bottom: 25px;font-size: 20px;text-align: center;">{$Think.lang._ICO_money_3}</button>


                        <!--<div class="meta">-->
                        <!--<ul class="meta-list list-inline">-->
                        <!--<li class="post-time post_date date updated">16th Oct, 2014</li>-->
                        <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                        <!--<li class="post-comments-link">-->
                        <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>-->
                        <!--</li>-->
                        <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->
            <article class="post col-md-6 col-sm-6 col-xs-12" style="">
                <div class="post-inner">
                    <!--<figure class="post-thumb">-->
                    <!--<a href="blog-single.html"><img class="img-responsive" src="/Public/assets/images/blog/post-1-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <div class="row">
                        <div class="" style="text-align: center">
                            <h3>{$Think.lang._arbitrage_number_4}<span style="color: crimson">&nbsp;{$Think.lang._arbitrage_number1_1}</h3>
                        </div>
                    </div>
                    <div class="content" style="margin: 0 auto;width: 260px">
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis" style="">{$Think.lang._arbitrage_Date_1}</h3><p class="indent DivDis">2017-12-01</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>


                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_fixed_1}</h3>
                            <p class="indent DivDis">3.650</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_year_1}</h3><p class="indent DivDis">3.65%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_estimate_1}</h3><p class="indent DivDis">200%</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <h3 class="post-title my_title DivDis">{$Think.lang._arbitrage_yield_1}</h3>
                            <p style="color: red" class="indent DivDis">{$Think.lang._arbitrage_everyday_1}</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>
                        <div class="post-entry">
                            <div style="width: 30px;display: inline-block"></div>
                            <h3 class="post-title my_title DivDis" style="font-size: 20px; display: inline-block" >{$Think.lang._exponential_repayment_2}</h3>
                            <!--<p class="indent DivDis">3.650</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>

                        <button id="invest" type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-cta btn-cta-primary" style="margin-bottom: 25px;font-size: 20px;text-align: center;">{$Think.lang._ICO_money_3}</button>


                        <!--<div class="meta">-->
                        <!--<ul class="meta-list list-inline">-->
                        <!--<li class="post-time post_date date updated">16th Oct, 2014</li>-->
                        <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                        <!--<li class="post-comments-link">-->
                        <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>-->
                        <!--</li>-->
                        <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->
            <!--套利基金4板块结束-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
            <!--<div class="post-inner">-->
            <!--&lt;!&ndash;<figure class="post-thumb">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="blog-single.html"><img class="img-responsive" src="/Public/assets/images/blog/post-2-thumb.jpg" alt="" /></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</figure>&lt;!&ndash;//post-thumb&ndash;&gt;&ndash;&gt;-->
            <!--<div class="content" style="text-align: center;background: transparent;">-->
            <!--<h3 class="post-title my_title" style="padding: 4px 0;font-size: 30px !important;">起投金额</h3>-->
            <!--<div class="post-entry">-->
            <!--<p style="padding: 10px 0 20px;font-size: 20px;"><span style="font-size: 30px;color: red;font-weight: 900;">￥</span><span style="color: red;font-weight: 900;font-size: 25px;">10000元</span></p>-->
            <!--&lt;!&ndash;<a class="read-more" href="blog-single.html">购买 <i class="fa fa-long-arrow-right"></i></a>&ndash;&gt;-->

            <!--<button id="invest" type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-cta btn-cta-primary" style="margin-bottom: 25px;font-size: 20px;text-align: center;">立即投资</button>-->

            <!--<p style="color: red;"><img src="/Public/img/danger.png"/> 数字货币投资存在一定的风险，请适量控制您的资金</p>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="meta">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="meta-list list-inline">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="post-time post_date date updated">23rd Sep, 2014</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="post-author"> by <a href="#">James Lee</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="post-comments-link">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>3</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&lt;!&ndash;//meta-list&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&lt;!&ndash;meta&ndash;&gt;&ndash;&gt;-->
            <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
            <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->




        </div><!--//blog-list-->
    </div><!--//row-->

</div><!--//blog-->
<!--<div class="sections-wrapper" style="background: #f5f5f5">-->

    <!--&lt;!&ndash; ******Why Section****** &ndash;&gt;-->
    <!--<section id="why" class="section why" style="padding-bottom: 0px;margin-top: 60px;">-->

        <!--<div class="container" style="<?php if($pc=='pc'){ echo 'margin-top: -30px;';}else{ echo 'margin-top: -110px;';} ?>">-->
            <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
            <!--<div class="services" id="services" style="text-align: center;">-->
                <!--<div class="col-md-6  ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">-->
                    <!--<h4 >指数基金【一期】敬请期待</h4>-->
                    <!--<div>-->
                        <!--<div class="row exponDivBor" style="background: white;border-bottom: 1px solid lightgray;height: 50px;border-top:5px solid deepskyblue ">-->
                            <!--<div col-lg-12>-->
                                <!--发行日期：2017-09-01-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor">-->
                            <!--<div col-lg-12>-->
                                <!--固定收益率：3.650-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--年化收益率：3.65%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--预计收益率：200%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--收益率变化：每日-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--到期付息还本T+0赎回-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" style="height: 150px">-->
                            <!--<div col-lg-12>-->
                                <!--<input type="button" value="立即投资">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
                <!--<div class="col-md-6  ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">-->
                    <!--<h4 >指数基金【一期】敬请期待</h4>-->
                    <!--<div>-->
                        <!--<div class="row exponDivBor" style="background: white;border-bottom: 1px solid lightgray;height: 50px;border-top:5px solid deepskyblue ">-->
                            <!--<div col-lg-12>-->
                                <!--发行日期：2017-09-01-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor">-->
                            <!--<div col-lg-12>-->
                                <!--固定收益率：3.650-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--年化收益率：3.65%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--预计收益率：200%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--收益率变化：每日-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--到期付息还本T+0赎回-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" style="height: 150px">-->
                            <!--<div col-lg-12>-->
                                <!--<input type="button" value="立即投资">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
                <!--<div class="col-md-6  ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">-->
                    <!--<h4 >指数基金【一期】敬请期待</h4>-->
                    <!--<div>-->
                        <!--<div class="row exponDivBor" style="background: white;border-bottom: 1px solid lightgray;height: 50px;border-top:5px solid deepskyblue ">-->
                            <!--<div col-lg-12>-->
                                <!--发行日期：2017-09-01-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor">-->
                            <!--<div col-lg-12>-->
                                <!--固定收益率：3.650-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--年化收益率：3.65%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--预计收益率：200%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--收益率变化：每日-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--到期付息还本T+0赎回-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" style="height: 150px">-->
                            <!--<div col-lg-12>-->
                                <!--<input type="button" value="立即投资">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
                <!--<div class="col-md-6  ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">-->
                    <!--<h4 >指数基金【一期】敬请期待</h4>-->
                    <!--<div>-->
                        <!--<div class="row exponDivBor" style="background: white;border-bottom: 1px solid lightgray;height: 50px;border-top:5px solid deepskyblue ">-->
                            <!--<div col-lg-12>-->
                                <!--发行日期：2017-09-01-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor">-->
                            <!--<div col-lg-12>-->
                                <!--固定收益率：3.650-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--年化收益率：3.65%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--预计收益率：200%-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--收益率变化：每日-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" >-->
                            <!--<div col-lg-12>-->
                                <!--到期付息还本T+0赎回-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row exponDivBor" style="height: 150px">-->
                            <!--<div col-lg-12>-->
                                <!--<input type="button" value="立即投资">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
                <!--<div class="clearfix"></div>-->

            <!--</div>-->
        <!--</div>&lt;!&ndash;//container&ndash;&gt;-->
    <!--</section>&lt;!&ndash;//why&ndash;&gt;-->

    <!--&lt;!&ndash; ******Testimonials Section****** &ndash;&gt;-->
    <!--&lt;!&ndash;<div style="background:#f5f5f5;width: 100%;height: 30px; "></div>&ndash;&gt;-->
<!--</div>&lt;!&ndash;//section-wrapper&ndash;&gt;-->
<!--<div class="features-tabbed section blog container">-->
    <!--<div class="row">-->
        <!--<div id="blog-mansonry" class="blog-list">-->
            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-1-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">Ideas are easy, execution is hard</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">16th Oct, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-2-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">Done is better than perfect</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Aenean interdum ligula sed sollicitudin scelerisque. Morbi sed purus erat. Quisque adipiscing, dolor vitae porttitor egestas, orci elit feugiat libero, id pellentesque libero nulla quis tortor. Nulla sodales erat eu aliquam sollicitudin. Proin hendrerit porta lorem, ultricies blandit tortor mollis ut. Suspendisse potenti.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">23rd Sep, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>3</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-3-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">The value of an idea lies in the using of it</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">18th Aug, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">Jeremy Green</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>2</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-4-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">Good design is good business</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Praesent congue eros at vestibulum luctus. Integer faucibus eros ac mauris aliquam vehicula. Nulla vel purus quis libero viverra aliquet. Praesent consequat varius augue, et euismod lorem hendrerit ac. Duis eget lacus nisi. Sed sed erat velit.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">12th April, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>4</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-5-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">Hackathon brainstorming</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">3th April, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>1</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-6-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">You can do big things with a small team</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">3th April, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>5</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-7-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">Nothing works better than just improving your product.</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">3th April, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">Alex Morgan</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>1</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-8-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">Don't try to be original, just try to be good</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">3th April, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>28</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

            <!--<article class="post col-md-4 col-sm-6 col-xs-12">-->
                <!--<div class="post-inner">-->
                    <!--<figure class="post-thumb">-->
                        <!--<a href="blog-single.html"><img class="img-responsive" src="__PUBLIC__/assets/images/blog/post-9-thumb.jpg" alt="" /></a>-->
                    <!--</figure>&lt;!&ndash;//post-thumb&ndash;&gt;-->
                    <!--<div class="content">-->
                        <!--<h3 class="post-title"><a href="blog-single.html">It's not about ideas. It's about making ideas happen</a></h3>-->
                        <!--<div class="post-entry">-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>-->
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        <!--</div>-->
                        <!--<div class="meta">-->
                            <!--<ul class="meta-list list-inline">-->
                                <!--<li class="post-time post_date date updated">3th April, 2014</li>-->
                                <!--<li class="post-author"> by <a href="#">Jo Bailey</a></li>-->
                                <!--<li class="post-comments-link">-->
                                    <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>110</a>-->
                                <!--</li>-->
                            <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//post-inner&ndash;&gt;-->
            <!--</article>&lt;!&ndash;//post&ndash;&gt;-->

        <!--</div>&lt;!&ndash;//blog-list&ndash;&gt;-->
    <!--</div>&lt;!&ndash;//row&ndash;&gt;-->
    <!--<div class="pagination-container text-center">-->
        <!--<ul class="pagination">-->
            <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
            <!--<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">&raquo;</a></li>-->
        <!--</ul>&lt;!&ndash;//pagination&ndash;&gt;-->
    <!--</div>&lt;!&ndash;//pagination-container&ndash;&gt;-->
<!--</div>&lt;!&ndash;//blog&ndash;&gt;-->
<div class="features-tabbed section blog container" style="padding:0px 0px 20px;">
    <div class="row" style="margin: 0px;">
        <div id="blog-mansonry" class="blog-list">
            <article class="post col-md-12 col-sm-12 col-xs-12" style="">
                <div class="post-inner">
                    <div class="content">
                        <div class="post-entry">
                            <p style="color: red;font-size: 15px;text-align: center;"><img width="20px" src="__PUBLIC__/img/danger.png"/>{$Think.lang._ICO_money_4}</p>
                        </div><!--//content-->
                    </div><!--//post-inner-->
            </article><!--//post-->
        </div><!--//blog-list-->
    </div><!--//row-->

</div><!--//blog-->
<!--风险提示结束-->
<!--免责声明开始-->
<div class="features-tabbed section blog container" style="padding:0px 0px 20px;">
    <div class="row" style="margin: 0px;">
        <div id="blog-mansonry" class="blog-list">
            <article class="post col-md-12 col-sm-12 col-xs-12" style="">
                <div class="post-inner">
                    <h3 class="post-title my_title" style="text-align: center;padding-top: 5px;font-weight: 900;font-size: 25px!important;color: black">{$Think.lang._ICO_Disclaimer}</h3>

                    <div class="content" style="padding-top: 5px;">
                        <div class="post-entry">
                            <p class="indent">{$Think.lang._ICO_Disclaimer_content}</p>
                            <!--<a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>-->
                        </div>









                        <!--<div class="meta">-->
                        <!--<ul class="meta-list list-inline">-->
                        <!--<li class="post-time post_date date updated">16th Oct, 2014</li>-->
                        <!--<li class="post-author"> by <a href="#">James Lee</a></li>-->
                        <!--<li class="post-comments-link">-->
                        <!--<a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>-->
                        <!--</li>-->
                        <!--</ul>&lt;!&ndash;//meta-list&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;meta&ndash;&gt;-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->





        </div><!--//blog-list-->
    </div><!--//row-->

</div><!--//blog-->



<!-- ******FOOTER****** -->
<include file="Public/footer"/>

<!-- Javascript -->
<script type="text/javascript" src="__PUBLIC__/assets/plugins/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/main.js"></script>


</body>
</html>


