<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Home</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>--->
    <!-- Global CSS -->
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/plugins/flexslider/flexslider.css">
    <!--index css  server six parts-->
    <link rel="stylesheet" href="__PUBLIC__/style/hover/css/component.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="__PUBLIC__/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

    <!--[if lt IE 9]><script src="__PUBLIC__/static/js/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="__PUBLIC__/static/js/respond.js"></script><![endif]-->






    <style>

        .my_center{
            text-align: center;
            font-size: 16px;
        }
        @media screen and (max-width: 375px)   {
            .bg-slider-wrapper2{height: 800px}
        }


        /*banner重写*/

        .bg-slider-wrapper2 {
            content: "";
            /*position: absolute;*/
            width: 100%;
            /*top: 0;*/
            /*left: 0;*/
            height: 980px;
            /*background: #253340 url('__PUBLIC__/assets/images/background/bg-header-1.jpg') no-repeat 50% top;*/
            /*background: #253340 url('__PUBLIC__/img/bb.jpg') no-repeat 50% top;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        }



        .bg-slider-wrapper {
            content: "";
            /*position: absolute;*/
            width: 100%;
            /*top: 0;*/
            /*left: 0;*/
            height: 980px;
            background: #253340 url('__PUBLIC__/img/bb.jpg') no-repeat 50% top;

            /*background: #253340 url('__PUBLIC__/assets/images/background/bg-header-1.jpg') no-repeat 50% top;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .bg-slider-wrapper .flexslider {
            margin: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }
        .bg-slider-wrapper .flexslider .slide {
            display: block;
            height: 980px;
        }
        .bg-slider-wrapper .flexslider .slide.slide-1 {
            background: #253340 url('__PUBLIC__/assets/images/background/bg-header-1.jpg') no-repeat 50% top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height:980px;
        }
        .bg-slider-wrapper .flexslider .slide.slide-2 {
            background: #253340 url('__PUBLIC__/assets/images/background/bg-header-2.jpg') no-repeat 50% top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .bg-slider-wrapper .flexslider .slide.slide-3 {
            background: #253340 url('__PUBLIC__/assets/images/background/bg-header-3.jpg') no-repeat 50% top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .bg-slider-wrapper .flexslider .flex-control-nav {
            z-index: 30;
            bottom: 30px;
            position: relative;
        }
        .bg-slider-wrapper .flexslider .flex-control-nav li a {
            background: #999;
        }
        .bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
            background: #bfbfbf;
        }



        .time_size{

        <?php if($pc=='pc'){ echo 'font-size:20px;
            height:25px;';}else{ echo 'font-size:14px;
            height:18px;';} ?>
        }
        .time_number{


        <?php if($pc=='pc'){ echo 'font-size:30px;
            height:35px;';}else{ echo 'font-size:16px;
            height:20px;';} ?>


        }
        a{
        text-decoration: none;
        }


    </style>

</head>

<body class="home-page">
<!-- ******HEADER****** -->

<include file="Public/header"/>


<!--id="banner_can"-->
<div class="bg-slider-wrapper2" >

    <div class="bg-slider-wrapper">

        <canvas class="constellation" ></canvas>


    </div>
    <section class="promo section section-on-bg">
        <div class="container text-center">
            <h2 class="title">铜锣湾基金</h2>
            <p class="intro">创立一种新的跨境资产转移、支付协议和去中心化基金平台 <br /> 基于区块链技术，改变传统理财基金</p>
            <p>
                <a class="btn btn-cta btn-cta-primary" href="signup.html">白皮书</a>
                <a class="btn btn-cta btn-cta-primary" href="signup.html">ICO细则</a>

            </p>

            <table style="width: 260px;margin: 0 auto;margin-top:50px;background: transparent;height: 40px;text-align: center;">

                <tr>
                    <td  class="time_number my_day">00</td>
                    <td  class="time_number my_hour">00</td>
                    <td  class="time_number my_minite">00</td>
                    <td  class="time_number my_second">00</td>
                </tr>
                <tr>
                    <td class="time_size">天</td>
                    <td class="time_size">时</td>
                    <td class="time_size">分</td>
                    <td class="time_size">秒</td>
                </tr>

            </table>


            <!--<button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" ><i class="fa fa-youtube-play"></i> Watch the video</button>-->
        </div><!--//container-->
    </section><!--//promo-->

</div>



<!--<div class="bg-slider-wrapper">-->
    <!--&lt;!&ndash;<canvas class="constellation slide-1" style="width: 100%;background: url(__PUBLIC__/assets/images/background/bg-header-1.jpg) no-repeat !important;background-size: 100% 100%"></canvas>&ndash;&gt;-->

    <!--<div class="flexslider bg-slider" id="banner_can">-->
        <!--<ul class="slides">-->
            <!--&lt;!&ndash;<li class="slide slide-1"   style="min-height: 620px;background: url(__PUBLIC__/img/banner1.jpg) no-repeat !important;background-size: 100%"></li>&ndash;&gt;-->
            <!--<li class="slide slide-1"></li>-->
            <!--<li class="slide slide-2"></li>-->
            <!--<li class="slide slide-3"></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>&lt;!&ndash;//bg-slider-wrapper&ndash;&gt;-->

<!--<section class="promo section section-on-bg" >-->
    <!--<div class="container text-center">-->
        <!--<h2 class="title">铜锣湾基金</h2>-->
        <!--<p class="intro">创立一种新的跨境资产转移、支付协议和去中心化基金平台 <br /> 基于区块链技术，改变传统理财基金</p>-->
        <!--<p>-->
            <!--<a class="btn btn-cta btn-cta-primary" href="signup.html">白皮书</a>-->
            <!--<a class="btn btn-cta btn-cta-primary" href="signup.html">ICO细则</a>-->

        <!--</p>-->
        <!--<button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" ><i class="fa fa-youtube-play"></i> Watch the video</button>-->
    <!--</div>&lt;!&ndash;//container&ndash;&gt;-->
<!--</section>&lt;!&ndash;//promo&ndash;&gt;-->

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why" >
        <div class="container" style="margin-top: -60px;">
            <div style="display: flex;justify-content: center;align-items: center">
                <div style="width: 80px;height: 3px;background: black;margin-right: 10px;margin-top: -20px;"></div>
                <h2 class="title text-center" style="margin-bottom: 20px">项目介绍</h2>
                <div style="width: 80px;height: 3px;background: black;margin-left: 10px;margin-top: -20px;"></div>
            </div>

            <p class="intro text-center" style="max-width: 100%;color: #444">
                铜锣湾基金（英文名：Tcash）是基于成熟、开源的区块链技术。
                可以与法币或者其他数字货币进行正常的全球跨境支付、跨境无风险套利、与交易所融资融币、
                场外OTC等商业交易,也可以用于日常消费使用。运营团队确保流通中的Tcash始终有超过其价值的数字资
                产作为储备金与之对应，达到维持Tcash价格稳定的目标。
            </p>


            <!--<div class="container">-->
                <div class="services" id="services" style="text-align: center;">
                    <div class="col-md-4  ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                            <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin: 20px">
                                <a href="#" style="text-decoration: none" class="hi-icon hi-icon-link">Link</a>
                            </div>
                        <h4 >全球跨境无风险套利</h4>
                        <p class="intro text-center" style="max-width: 100%;color: #444">由于国情不同，在国内交易所的数字货币价格不同，有时候价格差别在10%-15%，我们在全球主流交易所都注册账户，每个账户都用法币来做账户备用金如果价格差别较大，
                            就在价格低的交易所买入，在价格高的交易所卖出。当各大交易所价格稳定的时候，通过数字货币来对冲账户，实现无风险套利。</p>
                    </div>
                    <div class="col-md-4 ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin: 20px">
                            <a href="#" style="text-decoration: none" class="hi-icon hi-icon-images">Images</a>
                        </div>
                        <h4>全球场外OTC交易</h4>
                        <p class="intro text-center" style="max-width: 100%;color: #444">
                            指在全球主要地区都有专门的交易员，
                            我们的客户提供比特币等数字货币业务咨询、代理购买、P2P方式交易，
                            通过该业务服务两种人群，第一种是有投资能力但不懂如何买卖数字货币的人群，第二种是数字货币高频交易人群，
                            这个业务开展的方式主要通过社交软件、网络支付、手机钱包来完成。
                        </p>
                    </div>
                    <div class="col-md-4 ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin: 20px">
                            <a  href="#" style="text-decoration: none" class="hi-icon hi-icon-pencil">Edit</a>
                        </div>
                        <h4>以太坊域名投资</h4>
                        <p class="intro text-center" style="max-width: 100%;color: #444">域名交易是指个人或商业团体，将自己所注册的尚未到期且属于自己的互联网域名通过有偿方式授权，给中介网站和域名平台网站转让、
                            出售等方式进行所属权变更的行为。注册以.eth为后缀的域名ENS是以太坊域名服务，一个基于以太坊的分布式，开放和可扩展的域名系统。

                        </p>
                    </div>


                    <div class="col-md-4 ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin: 20px">
                            <a href="#" style="text-decoration: none" class="hi-icon hi-icon-earth">Partners</a>
                        </div>
                        <h4>全球跨境支付结算</h4>
                        <p class="intro text-center" style="max-width: 100%;color: #444">对于国内的企业希望在海外采购，或者海外的企业希望在国内采购，总之如果有需求将法币转到海外变成美金，或者有需求将美金转到国内变成人民币，
                            都可以申请我们的全球结算业务，我们通过在主流国家准备备用基金实现对冲，在通过数字货币来高效、安全的交易，通过数字货币可以额度高、速度快、费率低。
                        </p>
                    </div>
                    <div class="col-md-4 ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin: 20px">
                            <a href="#" style="text-decoration: none" class="hi-icon hi-icon-contract">Contact</a>
                        </div>
                        <h4>全球交易所融资融币</h4>
                        <p class="intro text-center" style="max-width: 100%;color: #444">Tcash融资融币为p2p模式，由于全球各大交易所，用户跟用户之间借款和放款，所有的借款金额和放款利率都是由用户定，
                            利率浮动由市场调节。所得炒币用户在交易所都有
                            一定的账户资金我们通过配资的方式给用户增加杠杆， 通过爆仓机制来控制风险，
                            我们只收取等额的手续费，按天计费或者按月计费。</p>
                    </div>
                    <div class="col-md-4 ser-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin: 20px">
                            <a href="#" style="text-decoration: none" class="hi-icon hi-icon-refresh">Refresh</a>
                        </div>
                        <h4>全球自由兑换流动</h4>
                            <p class="intro text-center" style="max-width: 100%;color: #444">在Tcash发行初期就可以自由流动，虚拟数字货币之间自由兑换。在自由流通过程中，Tcash应对区块链的特点有所取舍。
                               借鉴区块链技术防止货币被重复使用、交易不可逆转的特点。Tcash数字货币采用比特币去中心化技术，
                                进行修改了比特币的核心代码，进行了区块链技术创新，创造出可找回、高防盗性的数字货币钱包。
                               </p>
                    </div>
                    <div class="clearfix"></div>

                </div>
            <!--</div>-->




            <!--<div class="row item">-->
                <!--<div class="content col-xs-12 col-md-4">-->
                    <!--<h3 class="title">Save you time and effort</h3>-->
                    <!--<div class="desc">-->
                        <!--<p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>-->
                        <!--<p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>-->
                    <!--</div>-->
                    <!--<div class="quote">-->
                        <!--<div class="quote-profile">-->
                            <!--<img class="img-responsive img-circle" src="__PUBLIC__/assets/images/people/profile-s-1.png" alt="" />-->
                        <!--</div>&lt;!&ndash;//profile&ndash;&gt;-->
                        <!--<div class="quote-content">-->
                            <!--<blockquote><p><a href="" target="_blank">@velocity</a> Love it! Thank you for making my life easier and saving me time! I’ll definitely recommend it to my friends. :)</p></blockquote>-->
                            <!--<p class="source">@LisaW, Bristol</p>-->
                        <!--</div>&lt;!&ndash;//quote-content&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//quote&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--<figure class="figure col-md-offset-1 col-sm-offset-0 col-xs-offset-0 col-xs-12 col-md-7">-->
                    <!--<img class="img-responsive" src="__PUBLIC__/assets/images/figures/figure-1.png" alt="" />-->
                    <!--<figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>-->
                <!--</figure>-->
            <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

            <!--<div class="row item">-->
                <!--<div class="content col-md-push-8 col-sm-push-0 col-xs-push-0 col-xs-12 col-md-4">-->
                    <!--<h3 class="title">Works across all devices</h3>-->
                    <!--<div class="desc">-->
                        <!--<p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>-->
                        <!--<p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>-->
                        <!--<p><i class="fa fa-download"></i> <a href="download.html">Download mobile versions</a></p>-->
                    <!--</div>-->

                    <!--<div class="quote">-->
                        <!--<div class="quote-profile">-->
                            <!--<img class="img-responsive img-circle" src="__PUBLIC__/assets/images/people/profile-s-2.png" alt="" />-->
                        <!--</div>&lt;!&ndash;//profile&ndash;&gt;-->
                        <!--<div class="quote-content">-->
                            <!--<blockquote><p>I find the mobile app very useful when I'm on the go. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p></blockquote>-->
                            <!--<p class="source">@JackT, San Francisco</p>-->
                        <!--</div>&lt;!&ndash;//quote-content&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//quote&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--<figure class="figure col-md-pull-4 col-sm-pull-0 col-xs-pull-0 col-xs-12 col-md-7">-->
                    <!--<img class="img-responsive" src="__PUBLIC__/assets/images/figures/figure-2.png" alt="" />-->
                    <!--<div class="control text-center">-->
                        <!--<button type="button" class="play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fa fa-play"></i></button>-->
                    <!--</div>&lt;!&ndash;//control&ndash;&gt;-->
                <!--</figure>-->
            <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

            <!--<div class="row item ">-->
                <!--<div class="content col-xs-12 col-md-4">-->
                    <!--<h3 class="title">Easy to customise</h3>-->
                    <!--<div class="desc">-->
                        <!--<p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>-->
                        <!--<p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>-->
                    <!--</div>-->
                    <!--<div class="quote">-->
                        <!--<div class="quote-profile">-->
                            <!--<img class="img-responsive img-circle" src="__PUBLIC__/assets/images/people/profile-s-3.png" alt="" />-->
                        <!--</div>&lt;!&ndash;//profile&ndash;&gt;-->
                        <!--<div class="quote-content">-->
                            <!--<blockquote><p>Nice template! It’s practical and there is no gimmicks. Very easy to customise as well!</p></blockquote>-->
                            <!--<p class="source"><a href="#">@AlexD</a>, London</p>-->
                        <!--</div>&lt;!&ndash;//quote-content&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//quote&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
                <!--<figure class="figure col-md-offset-1 col-sm-offset-0 col-xs-offset-0 col-xs-12 col-md-7">-->
                    <!--<img class="img-responsive" src="__PUBLIC__/assets/images/figures/figure-3.png" alt="" />-->
                    <!--<figcaption class="figure-caption">(Screenshot: <a href="website-templates/responsive-bootstrap-theme-for-startups-tempo/?ref=3wm" target="_blank">Tempo - Bootstrap template for startups)</a> </figcaption>-->

                <!--</figure>-->
            <!--</div>&lt;!&ndash;//item&ndash;&gt;-->
            <!--<hr>-->
            <!--<div class="row item last-item">-->
                <!--&lt;!&ndash;<div class="content col-md-push-8 col-sm-push-0 col-xs-push-0 col-xs-12 col-md-4">&ndash;&gt;-->
                <!--<div class="content">-->
                    <!--<div class="col-lg-12" style="width: 100%;height: 300px;background-image:url('__PUBLIC__/img/bgImg.jpg')"></div>-->
                <!--</div>&lt;!&ndash;//content&ndash;&gt;-->

            <!--</div>&lt;!&ndash;//item&ndash;&gt;-->


            <!--<div class="feature-lead text-center">-->
                <!--<h4 class="title">Want to discover all the features?</h4>-->
                <!--<p><a class="btn btn-cta btn-cta-secondary" href="features.html">Take a Tour</a></p>-->
            <!--</div>-->
        </div><!--//container-->
    </section><!--//why-->
    <div style="width: 100%;height: 550px;background-image:url('__PUBLIC__/img/bgImg.jpg');background-repeat: round">
        <div class="container">
            <div class="row" style="margin-top: 50px">
                <div class="col-sm-12 col-lg-6" >
                    <!--<div  style="width: 585px;height: 450px;background: url('__PUBLIC__/img/app2-en.png');background-repeat: round"></div>-->
                    <img src="__PUBLIC__/img/app2-en.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-12 col-lg-5 col-lg-push-1">
                    <div class="row">
                        <div col-md-12><h1 style="display: inline-block">TCASH</h1>
                            <p style="font-size: 60px;display: inline-block;margin-top:20px;padding: 0">App</p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11 col-xs-push-1">
                            <span>安全管理：账户管理</span> <br><span>快速交易：意见交易，安全快捷</span>
                        </div>
                        <div class="col-xs-11 col-xs-push-1">
                            <span>最新版本</span><br><span>了解更多</span><br>图片
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ******Testimonials Section****** -->
    <section class="section testimonials">
        <div class="container">
            <h2 class="title text-center">团队介绍</h2>
            <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                </ol><!--//carousel-indicators-->
                <div class="carousel-inner">
                    <div class="item active">
                        <figure class="profile"><img style="width: 140px;height: 140px;border-radius: 100%" src="__PUBLIC__/assets/images/people/shen.jpg" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>多年IT技术工作，Intel技术大使，触控首席CVP,微软技术专家MCSE,曾编写《解密比特币》、《游戏开发原理》等书籍。</p>
                            </blockquote>
                            <p class="source">Kevin Knight<br /><span class="title">Co-Founder, Startup Hub</span></p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item">
                        <figure class="profile"><img style="width: 140px;height: 140px;border-radius: 100%" src="__PUBLIC__/assets/images/people/chang.jpg" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>从事互联网产品运营十年余年，期间主导并参与多款游戏产品的运营和发行工作，曾负责空中网旗下《天劫OL》《天劫贰OL》《封神OL》《梦幻天劫》等知名产品运营发行，目前主要负责颐博数码自研及代理产品运营对外发行。</p>
                            </blockquote>
                            <p class="source">Diana	Luna<br /><span class="title">Entrepreneur, Maecenas</span></p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item">
                        <figure class="profile"><img src="__PUBLIC__/assets/images/people/profile-m-3.png" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                            </blockquote>
                            <p class="source">Tony Lee<br /><span class="title">CTO, Lorem Ipsum</span></p>
                        </div><!--//content-->
                    </div><!--//item-->
                </div><!--//carousel-inner-->

            </div><!--//carousel-->
        </div><!--//container-->
    </section><!--//testimonials-->

    <!-- ******Press Section****** -->
    <!--<section class="section press">-->
        <!--<div class="container text-center">-->
            <!--<h2 class="title">Press Coverage</h2>-->
            <!--<ul class="press-list list-inline row">-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-1.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-2.png" alt="" /></a></li>-->
                <!--<li class="xs-break col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-3.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-4.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-5.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-6.png" alt="" /></a></li>-->
            <!--</ul>&lt;!&ndash;//press-list&ndash;&gt;-->
            <!--<ul class="press-list list-inline row last">-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-7.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-8.png" alt="" /></a></li>-->
                <!--<li class="xs-break col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-9.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-10.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-11.png" alt="" /></a></li>-->
                <!--<li class="col-xs-4 col-sm-2"><a href="#"><img class="img-responsive" src="__PUBLIC__/assets/images/press/press-12.png" alt="" /></a></li>-->
            <!--</ul>&lt;!&ndash;//press-list&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="press-lead text-center">&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 class="title">Have press inquires?</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="press-links"><a href="#">Download our press kit</a> or <a href="contact.html">Get in touch</a></p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>&lt;!&ndash;//container&ndash;&gt;-->
    <!--</section>&lt;!&ndash;//press&ndash;&gt;-->

    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center home-cta-section" style="min-height: 370px;">
        <div class="container">
            <h2 class="title">为改变世界而生</h2>
            <p class="intro">数字货币---颠覆现实、引发技术革命，即将渗透至你我生活的方方面面</p>
            <p><a class="btn btn-cta btn-cta-primary" href="" target="_blank">马上加入</a></p>
        </div><!--//container-->
    </section><!--//cta-section-->

</div><!--//section-wrapper-->



<include file="Public/footer"/>



<script src="__PUBLIC__/assets/js/core.min.js"></script>
<script src="__PUBLIC__/assets/js/thesaas.min.js"></script>




<!-- Javascript -->
<script type="text/javascript" src="__PUBLIC__/assets/plugins/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/main.js"></script>


<!--<script type="text/javascript" src="__PUBLIC__/static/js/canvas_line.js"></script>-->

<!-- Vimeo video API -->
<script src="__PUBLIC__/assets/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/vimeo.js"></script>


<script>


    var screenheight = $(window).height();
    console.log(screenheight);

    $(".bg-slider-wrapper").css("height",screenheight);
    $(".bg-slider-wrapper2").css("height",screenheight);


</script>




<script>


    function PrefixInteger(num, length) {
        return (Array(length).join('0') + num).slice(-length);
    }

    var rest = {$rest};

    //    console.log(rest);

    $day = Math.floor(rest/(60*60*24));

    //    console.log($day);

    $hour = Math.floor((rest - $day * (60*60*24))/(60*60));

    //    console.log($hour);

    $minite = Math.floor((rest - $day * (60*60*24) - $hour * (60*60))/60);

    //    console.log($minite);

    $second = Math.floor(rest - $day * (60*60*24) - $hour * (60*60) - $minite * 60);

    //    console.log($second);

    $day = PrefixInteger($day,2);
    $hour = PrefixInteger($hour,2);
    $minite = PrefixInteger($minite,2);
    $second = PrefixInteger($second,2);

    $(".my_day").html($day);
    $(".my_hour").html($hour);
    $(".my_minite").html($minite);
    $(".my_second").html($second);

    window.setInterval(function(){

        rest--;

//        console.log(rest);

        $day = Math.floor(rest/(60*60*24));

//        console.log($day);

        $hour = Math.floor((rest - $day * (60*60*24))/(60*60));

//        console.log($hour);

        $minite = Math.floor((rest - $day * (60*60*24) - $hour * (60*60))/60);

//        console.log($minite);

        $second = Math.floor(rest - $day * (60*60*24) - $hour * (60*60) - $minite * 60);

//        console.log($second);

        $day = PrefixInteger($day,2);
        $hour = PrefixInteger($hour,2);
        $minite = PrefixInteger($minite,2);
        $second = PrefixInteger($second,2);

        $(".my_day").html($day);
        $(".my_hour").html($hour);
        $(".my_minite").html($minite);
        $(".my_second").html($second);
    },1000);


</script>




</body>
</html> 


