<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US"><!--<![endif]-->
<head>
    <title>新闻资讯-多宝金豆专注于区块链去中心化数字货币</title>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <![endif]-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="多宝金豆新闻资讯每日为您提供最新最全面的市场众筹资讯、行业报道、媒体报道等新闻热点。">
    <meta name="keywords" content="新闻资讯,多宝,金豆,多宝金豆,区块链,数字货币"/>
    <meta name="author" content="gcan">


    <!--<link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->



    <!-- Fav icon -->
    <link rel="shortcut icon" href="__PUBLIC__/wap/img/favicon.ico" type="image/x-icon" />
    <!-- <meta name="robots" content="index,follow"> -->

    <!-- ############################# Stylesheets ############################# -->


    <!--<link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->


    <!-- ############################# Javascript - Modernizr ############################# -->

    <script src="__PUBLIC__/wap/js/modernizr.custom.js"></script>


    <style>
        .pages a,.pages span {
            display:inline-block;
            padding:2px 10px;
            margin:0 1px;

            border:1px solid #f0f0f0;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:3px;
        }
        .pages a,.pages li {
            display:inline-block;
            list-style: none;
            text-decoration:none; color:#58A0D3;
        }
        .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
            margin:0;
        }
        .pages a:hover{
            border-color:#e49147;
            background:#e49147;

        }
        .pages span.current{
            background:#e49147;
            color:#FFF;
            font-weight:900;
            border-color:#e49147;
        }
    </style>
    <link rel="stylesheet" href="__PUBLIC__/wap/css/style.css" media="screen" />

</head>
<body>
<!--[if lte IE 8]>
<div id="ie6-message"><p>You are using Internet Explorer 8.0 or older to view the web. Please upgrade to a newer browser to fully enjoy the web. <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade your browser</a></p></div>
<![endif]-->

<!-- ############################# Page ############################# -->
<section id="page">

    <!-- ############################# Header ############################# -->


    <include file="Tpl/header" active="news" />

    <!---->
    <!--<header id="header">-->
        <!--<div class="container">-->
            <!--&lt;!&ndash; ############################# Logo ############################# &ndash;&gt;-->
            <!--<a id="logo" href="index.html" class="smooth-link"><img src="__PUBLIC__/wap/placeholders/logo.png" alt="Logo"></a>-->

            <!--&lt;!&ndash; ############################# Menu ############################# &ndash;&gt;-->
            <!--&lt;!&ndash; Menu Tigger &ndash;&gt;-->
            <!--<a href="#" id="menu-trigger"><span class="icon"></span></a>-->
            <!--&lt;!&ndash; /menu Tigger &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; Menu Container &ndash;&gt;-->
        <!--<div id="menu-container">-->
            <!--<div class="container">-->
                <!--<h3 class="nav-title">Menu</h3>-->
                <!--<div class="divider white"></div>-->
                <!--<nav id="nav">-->
                    <!--<ul>-->
                        <!--<li><a href="index.html">Home</a></li>-->
                        <!--<li><a href="portfolio.html">Portfolio</a></li>-->
                        <!--<li><a href="about.html">About</a></li>-->
                        <!--<li><a href="contact.html">Contact</a></li>-->
                        <!--<li><a href="#" class="active">News</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
            <!--<div class="overlay"></div>-->
        <!--</div>-->
    <!--</header>-->

    <!-- ############################# Intro Image ############################# -->
    <section id="intro-image" class="intro medium clearfix">

        <div class="intro-captions">
            <h3 class="caption-title big animated">新闻资讯</h3><br>
            <h3 class="caption-title small animated">多宝金豆新闻资讯每日为您提供最新最全面的市场众筹资讯、行业报道、媒体报道等新闻热点</h3>
        </div>

        <!-- Image -->
        <div class="image zoom news-intro" style="background-image:url(__PUBLIC__/img/new/news.jpg) !important;"></div>

        <!-- Scroll Animation -->
        <!--<div class="scroll-anim">-->
            <!--<span class="scroll"></span>-->
            <!--<span class="scroll-text">Scroll</span>-->
        <!--</div>-->

        <!-- Overlay -->
        <span class="overlay animated"></span>

    </section>

    <!-- ############################# Page Content ############################# -->
    <section id="content"  style="margin-top:-60px;">

        <!-- ############################# News Entries ############################# -->
        <section id="news-entries">



            <volist name="all" id="vo" empty="当前页没有内容">

                <!-- Entry -->
                <div class="entry animated" data-delay="0">
                    <!-- Container -->
                    <div class="container">
                        <div class="col-1-3 entry-date">
                            <span class="date">


                                <?php

                                $time = strtotime($vo['create_time']);
                                echo date("M d,Y",$time);

                            ?>


                            </span>
                            <div class="categories"><a href="#">{$vo.author}</a></div>
                        </div>

                        <div class="col-2-3 last">
                            <h2 class="entry-title"><a href="index.php?a=newsdet&id={$vo.id}">{$vo.title}</a></h2>
                            <!--<p class="excerpt">-->
                                <!--Evolve, "drive 24/365 platforms vortals, platforms reinvent mashups niches dot-com." Holistic implement best-of-breed weblogs podcasts remix; share, data-driven blogospheres design generate leading-edge cross-platform, reinvent long-tail sticky solutions portals...-->
                            <!--</p>-->

                            <div class="animated" data-delay="100" style="height:100px;overflow: hidden;">{$vo['content']}</div>


                            <span class=" animated"  style="color:#a0a9b4 !important;font-size: 16px;padding-bottom: 10px;" data-delay="150">标签：</span><?php

                                                                        $tag = $vo['tag'];
                                                                        $arr = explode(",",$tag);
                                                                        $str = "";
                                                                        for($i=0;$i<count($arr);$i++){

                                                                            if($arr[$i] == ''){}else{
                                                                 $str .='<a class="title_head animated" data-delay="200" style="color:#a0a9b4 !important;margin-right:5px;margin-bottom:5px;display:inline-block;" href="index.php?&a=tag&tag='.$arr[$i].'" >
                            <span  >'.$arr[$i].'</span>
                            </a>';
                            }
                            }
                            echo $str;

                            ?>

                            <!-- Button -->
                            <!--<a  style="margin-top:30px;"  class=" animated"  data-delay="200">{$two[0]['create_time']}</a>-->

                            <div style="display: inline-block;text-align: right;float: right;padding-right: 10px;">
                                <a href="index.php?a=newsdet&id={$vo.id}"  class="readmore animated">阅读全文</a>

                            </div>



                        </div>

                    </div>
                    <!-- /container -->
                </div>
                <!-- /entry -->

            </volist>





            <!-- Entry -->
            <!--<div class="entry animated" data-delay="0">-->
                <!--&lt;!&ndash; Container &ndash;&gt;-->
                <!--<div class="container">-->
                    <!--<div class="col-1-3 entry-date">-->
                        <!--<span class="date">July 14, 2014</span>-->
                        <!--<div class="categories"><a href="#">Movies</a></div>-->
                    <!--</div>-->

                    <!--<div class="col-2-3 last">-->
                        <!--<h2 class="entry-title"><a href="news-single.html">Using typography in design.</a></h2>-->
                        <!--<div class="video-wrap">-->
                            <!--&lt;!&ndash;-->
                            <!--<iframe src="__PUBLIC__/wap///player.vimeo.com/video/9178386?title=0&amp;byline=0&amp;portrait=0&amp;color=e96247" width="770" height="511" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                            <!--&ndash;&gt;-->
                            <!--<iframe height=511 width=770 src='http://player.youku.com/embed/XMjMwNTg0NDU2' frameborder=0 'allowfullscreen' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                        <!--</div>-->
                        <!--<a href="news-single.html" class="readmore">Read Article</a>-->

                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; /container &ndash;&gt;-->
            <!--</div>-->
            <!-- /entry -->


        </section>
        <!-- /entries -->

        <div id="news_page" style="text-align: center!important; font-size: 20px !important;padding-top:20px;padding-bottom: 40px;width: 100%;">
            {$showall}

        </div>
        <!-- Page Navigation -->
        <!--<div class="page-navigation">-->

            <!--<div class="flex-col-1-2 left animated" data-delay="0">-->
                <!--<a href="#" class="prev"><i class="icon icon-arrow-left2"></i> Previous</a>-->
            <!--</div>-->

            <!--<div class="flex-col-1-2 right animated" data-delay="100">-->
                <!--<a href="#" class="next">Next <i class="icon icon-arrow-right2"></i></a>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /page navigation -->


        <!-- Request box  -->
        <!--<div class="request">-->

            <!--<h3 class="medium-heading white animated" data-delay="0">Unsure where to start?</h3>-->
            <!--<a class="stamp-button intro-button animated animated" href="#" data-delay="100"><span>Let Us Help</span></a>-->

        <!--</div>-->

    </section>
    <!-- /content -->

    <!-- ############################# Footer ############################# -->
    <include file="Tpl/footer"/>

    <!-- /footer note -->

</section>
<!-- /page -->

<!-- ############################# Javascripts ############################# -->
<!--<script src="__PUBLIC__/wap/js/jquery.min.js"></script>-->
<script src="__PUBLIC__/wap/js/jquery.easing-1.3.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.queryloader2.min.js"></script>
<script src="__PUBLIC__/wap/js/smoothscroll.js"></script>
<script src="__PUBLIC__/wap/js/waypoints.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.transit.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.scrollTo.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.small.plugins.js"></script>
<script src="__PUBLIC__/wap/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="__PUBLIC__/wap/js/retina.min.js"></script>

<!-- Custom scripts -->
<script src="__PUBLIC__/wap/js/custom.js"></script>
</body>
</html>