
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US"><!--<![endif]-->
<head>
    <title>{$article.title}</title>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <![endif]-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="多宝金豆新闻资讯每日为您提供最新最全面的市场众筹资讯、行业报道、媒体报道等新闻热点。">
    <meta name="keywords" content="{$article.tag}"/>
    <meta name="author" content="Site Author">


    <!--<link href="__PUBLIC__/resource/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="__PUBLIC__/resource/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="__PUBLIC__/resource/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />-->
    <!--&lt;!&ndash; END GLOBAL MANDATORY STYLES &ndash;&gt;-->
    <!--&lt;!&ndash; BEGIN THEME GLOBAL STYLES &ndash;&gt;-->
    <!--<link href="__PUBLIC__/resource/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />-->
    <!--<link href="__PUBLIC__/resource/global/css/plugins.min.css" rel="stylesheet" type="text/css" />-->
    <!--&lt;!&ndash; END THEME GLOBAL STYLES &ndash;&gt;-->

    <!--<link href="__PUBLIC__/resource/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />-->

    <!--&lt;!&ndash; BEGIN PAGE LEVEL STYLES &ndash;&gt;-->
    <!--<link href="__PUBLIC__/resource/pages/css/blog.min.css" rel="stylesheet" type="text/css" />-->
    <!--&lt;!&ndash; END PAGE LEVEL STYLES &ndash;&gt;-->
    <!--&lt;!&ndash; BEGIN THEME LAYOUT STYLES &ndash;&gt;-->
    <!--<link href="__PUBLIC__/resource/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="__PUBLIC__/resource/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />-->
    <!--<link href="__PUBLIC__/resource/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />-->


    <!-- Fav icon -->
    <link rel="shortcut icon" href="__PUBLIC__/images/icoo.ico" type="image/x-icon" />

    <!-- <meta name="robots" content="index,follow"> -->

    <!-- ############################# Stylesheets ############################# -->

    <link rel="stylesheet" href="__PUBLIC__/wap/css/style.css" media="screen" />

    <!-- ############################# Javascript - Modernizr ############################# -->

    <script src="__PUBLIC__/wap/js/modernizr.custom.js"></script>

</head>
<body>
<!--[if lte IE 8]>
<div id="ie6-message"><p>You are using Internet Explorer 8.0 or older to view the web. Please upgrade to a newer browser to fully enjoy the web. <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade your browser</a></p></div>
<![endif]-->

<!-- ############################# Page ############################# -->
<section id="page">

    <!-- ############################# Header ############################# -->
    <include file="Tpl/header" active="newsdet"/>


    <!-- ############################# Intro Image ############################# -->
    <section id="intro-image" class="intro medium clearfix">

        <div class="intro-captions">
            <h3 class="caption-title big animated"><?php echo Translate::exec ( $article['title'],"zh",$to);  ?></h3><br>
            <h3 class="caption-title small animated">


                <?php $time = strtotime($article['create_time']); echo date("M d,Y",$time);  ?>

                {$Think.lang._News_author}：{$Think.lang._DBCoin}
            </h3>
        </div>

        <!-- Image -->
        <div class="image zoom news-single-intro"></div>

        <!-- Scroll Animation -->
        <!--<div class="scroll-anim">-->
            <!--<span class="scroll"></span>-->
            <!--<span class="scroll-text">Scroll</span>-->
        <!--</div>-->

        <!-- Overlay -->
        <span class="overlay animated"></span>

    </section>

    <!-- ############################# Page Content ############################# -->
    <section id="content">

        <!-- ############################# Single News ############################# -->
        <article class="single-news container">

            <!--<div class="categories"><a href="#">Design</a></div>-->

            <!--<h2>Subheading.</h2>-->

            <!--<p>Solutions; folksonomies, channels paradigms experiences web services dynamic mesh customized 24/365 leading-edge. Clicks-and-mortar enable expedite integrate synergistic: magnetic mission-critical; clicks-and-mortar brand life-hacks; channels enhance semantic. Technologies revolutionary applications frictionless viral incentivize! User-centric transform aggregate exploit blogospheres, extensible harness disintermediate user-centric maximize e-enable ecologies plug-and-play engage architect synthesize compelling next-generation. Metrics e-tailers out-of-the-box: e-commerce redefine ubiquitous seamless rich-clientAPIs webservices disintermediate back-end synergistic citizen-media."</p>-->
            <!--<p>-->
                <!--Engage scale convergence, cross-platform syndicate create exploit, "deliverables; synergies communities, iterate one-to-one peer-to-peer scale." Sexy wikis real-time standards-compliant B2B ecologies viral extend rich capture create tag global syndicate next-generation virtual supply-chains: strategic users clicks-and-mortar syndicate. Web-enabled engineer standards-compliant. Innovate design incentivize whiteboard revolutionize: platforms rich platforms networks. Communities communities life-hacks Cluetrain grow deploy cross-platform embedded reinvent innovate target. E-commerce action-items design cross-platform embrace turn-key eyeballs data-driven e-enable partnerships web services orchestrate plug-and-play applications one-to-one, methodologies, transform user-centred.-->
            <!--</p>-->

            <blockquote>
                <p><span  style="font-weight: 900;font-style: normal;">{$Think.lang._News_zhaiyao}：</span>

                    <?php echo Translate::exec ( $zhaiyao,"zh",$to);  ?>

                </p>
            </blockquote>

            <!-- Image with caption and lightbox -->
            <div class="caption">
                <a href="{$article['article_picture']}" class="imagebox zoom-thumb" title="<?php echo Translate::exec ( $article['title'],"zh",$to);  ?>">
                    <img src="{$article['article_picture']}" style="width: 100%;" alt="{$article.title}" title="{$article.title}" >
                    <!--<img src="__PUBLIC__/wap/placeholders/news-single02.jpg" alt="News Single" >-->
                </a>
                <!--<p class="caption-text">Confirmation by Kushagra Agarwal</p>-->
            </div>
            <div>
                <?php echo Translate::exec ( $article['content'],"zh",$to);  ?>
            </div>
            <!--<p>-->
                <!--Distributed blogging reinvent blogging Cluetrain networks benchmark rss-capable, wikis, "peer-to-peer; niches harness, harness 24/7 models." Rss-capable convergence web-readiness granular revolutionize applications magnetic semantic clicks-and-mortar e-business distributed dynamic deliver. Widgets, facilitate communities compelling aggregate, web services streamline, data-driven killer; synthesize, technologies innovative generate, interactive turn-key seize niches.-->
            <!--</p>-->



            <span style="color:#a0a9b4 !important;font-size: 16px;padding-bottom: 10px;">{$Think.lang._Tag}：</span><?php

                                                $tag = $article['tag'];
                                                $arr = explode(",",$tag);
                                                $str = "";
                                                for($i=0;$i<count($arr);$i++){

                                                    if($arr[$i] == ''){}else{
                                                            $str .='<a class="title_head" style="color:#a0a9b4 !important;margin-right:5px;margin-bottom:5px;display:inline-block;" href="index.php?&a=tag&tag='.$arr[$i].'" >
                                                                        <span  >'.Translate::exec ( $arr[$i],"zh",$to).'</span>
                                                                        </a>';
                                                                        }
                                                        }
                                                        echo $str;

                                                        ?>



            <div class="jiathis_style" style="<?php if($pc=='pc'){ echo 'float: right;';}else{ echo 'float: left;';}?>">


                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style">
                    <span class="jiathis_txt" style="color:#a0a9b4 !important;">{$Think.lang._News_share_to}：</span>

                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <!--<a class="jiathis_counter_style"></a>-->
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>



            <div style="padding:0px 0px 10px;clear: both;">

                <a style="margin-top:10px;display: <?php

                                                        if($display_last == "kong"){
                echo "none";
                }else{
                echo "inline-block";
                }


                ?>
                ;" href="index.php?&a=newsdet&id={$last}" style="display: inherit;">{$Think.lang._News_last}：<?php echo Translate::exec ( $last_title,"zh",$to);  ?></a>
                <br/>
                <a style="display: <?php

                                                         if($display_next == "kong"){
                echo "none";
                }else{
                echo "inline-block";
                }


                ?>
                ;" href="index.php?&a=newsdet&id={$next}">{$Think.lang._News_next}：<?php echo Translate::exec ( $next_title,"zh",$to);  ?></a>


                <!--<a href="" style="display: inherit;">上一篇：1111111111111111111111111111</a>-->
                <!--<a href="">下一篇：2222222222222222222222222222</a>-->


            </div>




        </article>







        <!-- /entry -->

        <!-- Page Navigation -->
        <!--<div class="page-navigation">-->
            <!--<div class="flex-col-1-2 left animated" data-delay="0">-->
                <!--<a href="#" class="prev"><i class="icon icon-arrow-left2"></i> Previous</a>-->
            <!--</div>-->

            <!--<div class="flex-col-1-2 right animated" data-delay="100">-->
                <!--<a href="#" class="next">Next <i class="icon icon-arrow-right2"></i></a>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /page navigation -->

        <!-- Request box  -->
        <!--<div class="request">-->

            <!--<h3 class="medium-heading white animated" data-delay="0">Unsure where to start?</h3>-->
            <!--<a class="stamp-button intro-button animated animated" href="#" data-delay="100"><span>Let Us Help</span></a>-->

        <!--</div>-->

    </section>
    <!-- /content -->

    <!-- ############################# Footer ############################# -->
    <include file="Tpl/footer"/>

    <!-- /footer note -->

</section>
<!-- /page -->

<!-- ############################# Javascripts ############################# -->
<script src="__PUBLIC__/wap/js/jquery.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.easing-1.3.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.queryloader2.min.js"></script>
<script src="__PUBLIC__/wap/js/smoothscroll.js"></script>
<script src="__PUBLIC__/wap/js/waypoints.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.transit.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.scrollTo.min.js"></script>
<!--<script src="__PUBLIC__/wap/js/jquery.small.plugins.js"></script>-->
<script src="__PUBLIC__/wap/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="__PUBLIC__/wap/js/retina.min.js"></script>

<!-- Custom scripts -->
<script src="__PUBLIC__/wap/js/custom.js"></script>
</body>
</html>