<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />

    <title>新闻资讯-魔币众筹平台</title>
    <meta name="keywords" content="众筹,众筹平台,区块链,比特币,股权众筹,众筹网">
    <meta name="description" content="魔币众筹平台作为首家专注于数字货币众筹、区块链领域的创业众筹融资平台,提供ICO项目,众筹资讯,数据分析等服务,协助您实现自己的创业梦想。">







    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />-->
    <link href="__PUBLIC__/resource/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PUBLIC__/resource/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PUBLIC__/resource/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/resource/pages/css/search.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/resource/pages/css/blog.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />


    <link href="__PUBLIC__/resource/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />


    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/resource/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="__PUBLIC__/img/icoico.ico" />

    <style>
        .new_item{
            padding-bottom:10px;
        }
        .nav_top_head{
            margin-right:30px;
            font-size:18px;

        }
        .nav_color_head{
            color:#000000;
        }
        .nav_color_head:hover{
            /*text-decoration: underline !important;*/
            color:red;
        }
       .nav_color_head2:link{
            color:#000000;
        }
        .nav_color_head2:hover{
            color:red;
        }
        .nav_color_head:active,.nav_color_head:visited.nav_color_head:link{
            text-decoration: none !important;
            color:#000000 !important;
        }

        .label_style{
            display: inline-block;
            margin-bottom:5px;
            font-size: 16px;
        }
        .radius{
            border-radius:10px !important;
        }

        .scale{
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            overflow: hidden;

            /*border-radius:20px !important;*/
        }
        .scale:hover{
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.1);
            opacity:1;
            /*border-radius:20px !important;*/

        }



    </style>


</head>
<!-- END HEAD -->



<body  class="page-container-bg-solid">
<div class="page-wrapper" >

            <!-- BEGIN HEADER -->
            <include file="Public/header_top" keywords="news"/>

            <!-- END HEADER -->
    <div class="page-wrapper-row full-height" style="">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container" style="background-color: transparent;margin-top:115px;">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <!--<div class="page-head">-->
                        <!--<div class="container">-->
                            <!--&lt;!&ndash; BEGIN PAGE TITLE &ndash;&gt;-->
                            <!--<div class="page-title">-->
                                <!--<h1>Search Results-->
                                    <!--<small>search results</small>-->
                                <!--</h1>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; END PAGE TITLE &ndash;&gt;-->
                            <!--&lt;!&ndash; BEGIN PAGE TOOLBAR &ndash;&gt;-->
                            <!--&lt;!&ndash; END PAGE TOOLBAR &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->


                    <div class="page-head" style=" <?php if($pc == 'notpc'){ echo 'height:180px;';} else{echo 'height: 400px;';}?>">
                        <!--<div class="page-head" style="background:url('__PUBLIC__/resource/pages/media/gallery/item_img.jpg') no-repeat;height: 500px; ">-->

                        <img  style="width: 100%; <?php if($pc == 'notpc'){ echo 'height:180px;';} else{echo 'height: 400px;';}?>" src="__PUBLIC__/img/news.jpg">

                        <!--<div class="container">-->
                        <!--&lt;!&ndash; BEGIN PAGE TITLE &ndash;&gt;-->
                        <!--<div class="page-title">-->
                        <!--<h1>About Us-->
                        <!--<small>about us page</small>-->
                        <!--</h1>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END PAGE TITLE &ndash;&gt;-->
                        <!--&lt;!&ndash; BEGIN PAGE TOOLBAR &ndash;&gt;-->

                        <!--&lt;!&ndash; END PAGE TOOLBAR &ndash;&gt;-->
                        <!--</div>-->

                    </div>


                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content" style="margin-top: 10px;">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <!--<ul class="page-breadcrumb breadcrumb">-->
                                <!--<li>-->
                                    <!--<a href="index.php">首页</a>-->
                                    <!--<i class="fa fa-circle"></i>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">新闻资讯</a>-->
                                    <!--&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;-->
                                <!--</li>-->
                               <!---->
                            <!--</ul>-->
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="search-page search-content-1">


                                    <div class="row">









                                        <div class="page-content-inner col-md-8 " style="margin-bottom: 25px;">

                                                    <div class="search-container radius">
                                                        <ul>

                                                            <volist name="all" id="voall"  empty="当前页没有数据">
                                                                <li class="search-item clearfix">
                                                                    <a href="index.php?&a=newsdet&id={$voall.id}">
                                                                        <img class="scale"  style=" <?php if($pc == 'pc'){ echo 'margin-top: 10px;width:200px;height: 150px;';} else{echo 'margin-top: 40px;width:100px;height: 100px;';}?>"  src="{$voall.article_picture}" />
                                                                    </a>
                                                                    <div class="search-content">
                                                                        <h2 class="search-title">
                                                                            <a href="index.php?&a=newsdet&id={$voall.id}">{$voall.title}</a>
                                                                        </h2>
                                                                        <div class="search-desc" style="<?php if($pc == 'pc'){ echo 'margin-top:-20px;height: 93px;';}else{ echo 'margin-top:-30px;height: 70px;';} ?>overflow: hidden;font-size:18px!important;">
                                                                            {$voall.content}
                                                                        </div>

                                                                        <div class="search-desc" style="padding-top:10px;">

                                                                            <?php

                                                                        $tag = $voall['tag'];
                                                                        $arr = explode(",",$tag);
                                                                        $str = "";
                                                                        for($i=0;$i<count($arr);$i++){

                                                                            if($arr[$i] == ''){}else{

                                                                                         $str .='<a style="margin-right:5px;margin-bottom:5px;color:#a0a9b4;" href="index.php?&a=tag&tag='.$arr[$i].'" class="btn btn-xs btn-default mt-ladda-btn ladda-button btn-outline btn-circle" data-style="expand-left" data-spinner-color="#333">
                                                                            <span class="ladda-label">'.$arr[$i].'</span>
                                                                            </a>';

                                                                            }
                                                                            }
                                                                            echo $str;

                                                                            ?>

                                                                            <!--<span style="display: inline-block;padding-right: 10px;">众筹项目</span>-->
                                                                            <!--<span style="display: inline-block;padding-right: 10px;">产品众筹</span>-->

                                                                            <span style="display: inline-block;<?php if($pc == 'pc'){ echo 'float: right;';} ?>padding-right: 5px;">

                                                                                <span><img style="margin-top: -3px;" src="__PUBLIC__/images/views.png"/> 51</span>


                                                                                <?php if($pc == 'pc'){ echo $voall['create_time'];} else{

                                                                                $time = strtotime($voall['create_time']);
                                                                                echo date("Y-m-d",$time);

                                                                                }?>

                                                                            </span>
                                                                        </div>


                                                                    </div>
                                                                </li>
                                                            </volist>




                                                        </ul>

                                                        <div class="search-pagination">

                                                            {$showall}

                                                        </div>
                                                    </div>


                                        </div>


                                        <include file="Public/news_right"/>



                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->


                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <include file="Public/quick_sidebar"/>

                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <include file="Public/footer"/>
</div>
<!-- BEGIN QUICK NAV -->

<!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/resource/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/scripts/app.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/resource/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/search.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/resource/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<script src="__PUBLIC__/js/main.js" type="text/javascript"></script>





<script src="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>



<script src="__PUBLIC__/resource/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>

<script>

    $(document).ready(function () {
        $("#progress").animate({"width":"85%"});



        $(window).resize(function () {
            console.log($(window).width());
        })

    })

</script>


</body>

</html>