<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>关于我们-多宝金豆专注于区块链去中心化数字货币</title>
    <meta name="keywords" content="关于我们,多宝,金豆,多宝金豆,区块链,数字货币">
    <meta name="description" content="多宝金豆作为逊和集团有效整合企业和社会中的各种形式积分的一种多功能性数字货币资产，让您的消费变理财，让消费者成为企业的股东，获赠企业利润分红，实现财富盛世。">





    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta content="" name="author" />





    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="__PUBLIC__/resource/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->





    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PUBLIC__/resource/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PUBLIC__/resource/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/resource/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/resource/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="__PUBLIC__/img/icoico.ico" />



    <link rel="stylesheet" href="__PUBLIC__/wap/css/style.css" media="screen" />
    <script src="__PUBLIC__/wap/js/modernizr.custom.js"></script>


    <style>
        .new_item{
            padding-bottom:10px;
        }
        .nav_top_head{
            margin-right:30px;
            font-size:18px;

        }
        .nav_color_head{
            color:#000000;
        }
        .nav_color_head:hover{
            /*text-decoration: underline !important;*/
            color:red;
        }
        .nav_color_head2:link{
            color:#000000;
        }
        .nav_color_head2:hover{
            color:red;
        }
        .nav_color_head:active,.nav_color_head:visited.nav_color_head:link{
            text-decoration: none !important;
            color:#000000 !important;
        }

        .label_style{
            display: inline-block;
            margin-bottom:10px;
            font-size: 18px;
        }

        .p_header{
            text-align: center;font-weight: 600;
        }
        .p_content{
            font-size:16px !important;
            text-indent: 2em;
        }
        .radius{
            /*border-radius:10px !important;*/
        }


        .btn_more:hover{
            color: #000 !important;
            background: #e96147 !important;
        }

        .remove_head:hover{
            color: #000 !important;
        }

        .about_my_li{
            color: #000;
        }
        .about_block_li{
            background-color: #fafafa;
            width:100%;
        }

    </style>


</head>



<!-- END HEAD -->

<body class="page-container-bg-solid">
<div class="page-wrapper">

    <!-- BEGIN HEADER -->
    <include file="Tpl/header" active="about" keywords="account"/>
    <!-- END HEADER -->


    <include file="Tpl/about_head" />





    <div class="page-wrapper-row full-height" >
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <!--style="<?php if($pc == 'notpc'){ echo 'margin-top: 58px !important;';} else{echo 'margin-top: 65px !important;';}?>"-->
            <div class="page-container" >
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->




                    <!--<div class="page-head" style=" <?php if($pc == 'notpc'){ echo 'height:180px;';} else{echo 'height: 400px;';}?>">-->
                    <!--&lt;!&ndash;<div class="page-head" style="background:url('__PUBLIC__/resource/pages/media/gallery/item_img.jpg') no-repeat;height: 500px; ">&ndash;&gt;-->

                    <!--<img  style="<?php if($pc == 'notpc'){ echo 'height:180px;';} else{echo 'height: 400px;';}?>width: 100%; " src="__PUBLIC__/img/new/aboutme.jpg">-->


                    <!--</div>-->

                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content"  style=" <?php if($pc == 'notpc'){ echo 'margin-top: 20px;';} else{echo '';}?>">
                        <div class="container" >
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <!--<ul class="page-breadcrumb breadcrumb">-->
                            <!--<li>-->
                            <!--<a href="index.html">Home</a>-->
                            <!--<i class="fa fa-circle"></i>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#">Pages</a>-->
                            <!--<i class="fa fa-circle"></i>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<span>User</span>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <include file="Tpl/about_left" active="newuserzc"/>

                                        <!-- END BEGIN PROFILE SIDEBAR -->
                                        <!-- BEGIN PROFILE CONTENT -->

                                        <div class="profile-content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="portlet light radius">
                                                        <div class="portlet-title tabbable-line" style="height: 60px;">
                                                            <div class="caption caption-md">
                                                                <i class="icon-globe theme-font hide"></i>
                                                                <span class="caption-subject font-blue-madison bold uppercase" style="font-size: 20px;padding-left: 0px;">新用户注册</span>
                                                            </div>
                                                            <!--<ul class="nav nav-tabs">-->
                                                            <!--<li class="active">-->
                                                            <!--<a href="#tab_1_1" data-toggle="tab">个人信息</a>-->
                                                            <!--</li>-->
                                                            <!--<li>-->
                                                            <!--<a href="#tab_1_2" data-toggle="tab">上传头像</a>-->
                                                            <!--</li>-->
                                                            <!--<li>-->
                                                            <!--<a href="#tab_1_3" data-toggle="tab">修改密码</a>-->
                                                            <!--</li>-->
                                                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                                            <!--&lt;!&ndash;<a href="#tab_1_4" data-toggle="tab">Privacy Settings</a>&ndash;&gt;-->
                                                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                                            <!--</ul>-->
                                                        </div>
                                                        <div class="portlet-body">
                                                            <div class="tab-content">
                                                                <!-- PERSONAL INFO TAB -->
                                                                <div class="tab-pane active" id="tab_1_1">


                                                                    <p class="dark">在浏览器地址栏输入www.mobicoin.com，进入mobicoin官网，点击右上角登录注册按钮。目前币创网支持手机注册和邮箱注册。</p>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <!-- END PROFILE CONTENT -->
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>





                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->


                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <include file="Tpl/footer"/>
</div>

<include file="Public/quick_sidebar"/>






<div class="modal fade" id="basic" tabindex="-1" style="z-index: 33333;" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 150px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body" id="modal_body"> </div>
            <div class="modal-footer">

                <button type="button" class="btn_more" data-dismiss="modal">取消</button>
                <button type="button" onclick="window.location.href='index.php?a=account_set';0" data-dismiss="modal" class="btn_more">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="pwd_modal" tabindex="-1" style="z-index: 33333;" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 150px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body" id="pwd_modal_body"> </div>
            <div class="modal-footer">

                <!--<button type="button" class="btn_more" data-dismiss="modal">取消</button>-->
                <button type="button" data-dismiss="modal" class="btn_more">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>














<!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/resource/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<!--<script src="__PUBLIC__/resource/global/plugins/jquery.min.js" type="text/javascript"></script>-->

<script src="__PUBLIC__/resource/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/profile.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/resource/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->






<script src="__PUBLIC__/wap/js/jquery.easing-1.3.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.queryloader2.min.js"></script>
<script src="__PUBLIC__/wap/js/smoothscroll.js"></script>
<script src="__PUBLIC__/wap/js/waypoints.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.transit.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.scrollTo.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.small.plugins.js"></script>
<script src="__PUBLIC__/wap/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="__PUBLIC__/wap/js/retina.min.js"></script>



<!-- Custom scripts -->
<script src="__PUBLIC__/wap/js/custom.js"></script>





<script>



    $(".hidden_my").click(function () {
        $(".hidden_nav").toggle();
    });


    var jmz = {};
    jmz.GetLength = function(str) {
        ///<summary>获得字符串实际长度，中文2，英文1</summary>
        ///<param name="str">要获得长度的字符串</param>
        var realLength = 0, len = str.length, charCode = -1;
        for (var i = 0; i < len; i++) {
            charCode = str.charCodeAt(i);
            if (charCode >= 0 && charCode <= 128) realLength += 1;
            else realLength += 2;
        }
        return realLength;
    };

    $("#pwd_submit").click(function () {

        var old_pwd = $("#old_pwd").val();
        var new_pwd = $("#new_pwd").val();
        var rpassword = $("#rpassword").val();
        if(old_pwd == ""){

            $("#pwd_modal_body").html("请输入旧密码");
            $("#pwd_modal").modal("show");
            return false;
        }

        if(new_pwd == ""){

            $("#pwd_modal_body").html("请输入新密码");
            $("#pwd_modal").modal("show");
            return false;

        }

        if(rpassword != new_pwd){

            $("#pwd_modal_body").html("新密码与确认密码必须相同");
            $("#pwd_modal").modal("show");
            return false;

        }

        if(jmz.GetLength(old_pwd) < 6){
            $("#pwd_modal_body").html("旧密码长度不能小于6位");
            $("#pwd_modal").modal("show");
            return false;
        }
        if(jmz.GetLength(new_pwd) < 6){
            $("#pwd_modal_body").html("新密码长度不能小于6位");
            $("#pwd_modal").modal("show");
            return false;
        }

//        console.log(jmz.GetLength(new_pwd));
//        console.log(jmz.GetLength(new_pwd));
//        console.log(jmz.GetLength(new_pwd));

        $("#pwd_confirm").click();


    });

    $(".head_click").click(function () {

        $("#head").click();
    });

    var FormValidationMd = function() {

        var handleValidation1 = function() {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation
            var form1 = $('#form_sample_1');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                messages: {
                    payment: {
                        maxlength: jQuery.validator.format("Max {0} items allowed for selection"),
                        minlength: jQuery.validator.format("At least {0} items must be selected")
                    },
                    'checkboxes1[]': {
                        required: 'Please check some options',
                        minlength: jQuery.validator.format("At least {0} items must be selected"),
                    },
                    'checkboxes2[]': {
                        required: 'Please check some options',
                        minlength: jQuery.validator.format("At least {0} items must be selected"),
                    }
                },
                rules: {
                    sex:{
                        required:true
                    },
                    idcard: {
                        minlength: 15,
                        required: true
                    },
                    name: {
                        minlength: 2,
                        required: true
                    },
                    real_name: {
                        minlength: 2,
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    email2: {
                        required: true,
                        email: true
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    url2: {
                        required: true,
                        url: true
                    },
                    number: {
                        required: true,
                        number: true
                    },
                    number2: {
                        required: true,
                        number: true
                    },
                    digits: {
                        required: true,
                        digits: true
                    },
                    creditcard: {
                        required: true,
                        creditcard: true
                    },
                    delivery: {
                        required: true
                    },
                    payment: {
                        required: true,
                        minlength: 2,
                        maxlength: 4
                    },
                    memo: {
                        required: true,
                        minlength: 10,
                        maxlength: 40
                    },
                    'checkboxes1[]': {
                        required: true,
                        minlength: 2,
                    },
                    'checkboxes2[]': {
                        required: true,
                        minlength: 3,
                    },
                    radio1: {
                        required: true
                    },
                    radio2: {
                        required: true
                    }
                },

                invalidHandler: function(event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function(error, element) {
                    if (element.is(':checkbox')) {
                        error.insertAfter(element.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline"));
                    } else if (element.is(':radio')) {
                        error.insertAfter(element.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                highlight: function(element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function(element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function(label) {




//                    label.closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function(form) {

                    var sex = $("input[name='sex']:checked").val();
                    var idcard = $("#idcard").val();
                    var real_name = $("#real_name").val();
                    console.log(sex);
                    console.log(idcard);
                    console.log(real_name);

                    $.ajax({
                        type:"POST",
                        url:"index.php?&a=account_set_personal_msg",
                        data:{
                            sex:sex,
                            real_name:real_name,
                            idcard:idcard
                        },
                        success:function (data) {
                            console.log(data);

                            if(data == 1){
                                $("#modal_body").html("保存成功");
                                $("#basic").modal("show");
                            }

                            if(data == 2){
                                $("#modal_body").html("保存失败");
                                $("#basic").modal("show");
                            }

                        }
                    });


//                    window.location.href = "index.php?&a=account_set_personal_msg&name="+real_name+"&idcard="+idcard+"&sex="+sex;

//                    success1.show();
                    error1.hide();
                }
            });
        }

        var handleValidation2 = function() {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation
            var form1 = $('#form_sample_2');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                messages: {
                    payment: {
                        maxlength: jQuery.validator.format("Max {0} items allowed for selection"),
                        minlength: jQuery.validator.format("At least {0} items must be selected")
                    },
                    'checkboxes1[]': {
                        required: 'Please check some options',
                        minlength: jQuery.validator.format("At least {0} items must be selected"),
                    },
                    'checkboxes2[]': {
                        required: 'Please check some options',
                        minlength: jQuery.validator.format("At least {0} items must be selected"),
                    }
                },
                rules: {
                    name: {
                        minlength: 2,
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    email2: {
                        required: true,
                        email: true
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    url2: {
                        required: true,
                        url: true
                    },
                    number: {
                        required: true,
                        number: true
                    },
                    number2: {
                        required: true,
                        number: true
                    },
                    digits: {
                        required: true,
                        digits: true
                    },
                    creditcard: {
                        required: true,
                        creditcard: true
                    },
                    delivery: {
                        required: true
                    },
                    payment: {
                        required: true,
                        minlength: 2,
                        maxlength: 4
                    },
                    memo: {
                        required: true,
                        minlength: 10,
                        maxlength: 40
                    },
                    'checkboxes1[]': {
                        required: true,
                        minlength: 2,
                    },
                    'checkboxes2[]': {
                        required: true,
                        minlength: 3,
                    },
                    radio1: {
                        required: true
                    },
                    radio2: {
                        required: true
                    }
                },

                invalidHandler: function(event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function(error, element) {
                    if (element.is(':checkbox')) {
                        error.insertAfter(element.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline"));
                    } else if (element.is(':radio')) {
                        error.insertAfter(element.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                highlight: function(element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function(element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function(label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function(form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var handleValidation3 = function() {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation
            var form1 = $('#form_sample_3');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                messages: {
                    payment: {
                        maxlength: jQuery.validator.format("Max {0} items allowed for selection"),
                        minlength: jQuery.validator.format("At least {0} items must be selected")
                    },
                    'checkboxes1[]': {
                        required: 'Please check some options',
                        minlength: jQuery.validator.format("At least {0} items must be selected"),
                    },
                    'checkboxes2[]': {
                        required: 'Please check some options',
                        minlength: jQuery.validator.format("At least {0} items must be selected"),
                    }
                },
                rules: {
                    name: {
                        minlength: 2,
                        required: true
                    },
                    real_name: {
                        minlength: 2,
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    email2: {
                        required: true,
                        email: true
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    url2: {
                        required: true,
                        url: true
                    },
                    number: {
                        required: true,
                        number: true
                    },
                    number2: {
                        required: true,
                        number: true
                    },
                    digits: {
                        required: true,
                        digits: true
                    },
                    creditcard: {
                        required: true,
                        creditcard: true
                    },
                    delivery: {
                        required: true
                    },
                    payment: {
                        required: true,
                        minlength: 2,
                        maxlength: 4
                    },
                    memo: {
                        required: true,
                        minlength: 10,
                        maxlength: 40
                    }
                },

                invalidHandler: function(event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function(error, element) {
                    if (element.is(':checkbox')) {
                        error.insertAfter(element.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline"));
                    } else if (element.is(':radio')) {
                        error.insertAfter(element.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                highlight: function(element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function(element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function(label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function(form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function() {
                handleValidation1();
                handleValidation2();
                handleValidation3();
            }
        };
    }();

    jQuery(document).ready(function() {



        FormValidationMd.init();
    });


</script>

</body>

</html>