<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />


    <title>众筹项目-魔币众筹平台</title>
    <meta name="keywords" content="众筹,众筹平台,区块链,比特币,股权众筹,众筹网,众筹项目">
    <meta name="description" content="魔币众筹项目平台作为首家专注于数字货币众筹、区块链领域的创业众筹融资平台,提供ICO项目,众筹资讯,数据分析等服务,协助您实现自己的创业梦想。">




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PUBLIC__/resource/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PUBLIC__/resource/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/resource/pages/css/search.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <link href="__PUBLIC__/resource/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />


    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/resource/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="__PUBLIC__/img/icoico.ico" />


    <style>
        .new_item{
            padding-bottom:10px;
        }
        .nav_top_head{
            margin-right:30px;
            font-size:18px;

        }
        .nav_color_head{
            color:#000000;
        }
        .nav_color_head:hover{
            /*text-decoration: underline !important;*/
            color:red;
        }
        .nav_color_head2:link{
            color:#000000;
        }
        .nav_color_head2:hover{
            color:red;
        }
        .nav_color_head:active,.nav_color_head:visited.nav_color_head:link{
            text-decoration: none !important;
            color:#000000 !important;
        }

        .label_style{
            display: inline-block;
            margin-bottom:10px;
            font-size: 18px;
        }
    </style>


</head>
<!-- END HEAD -->

<include file="sdk"  />


<body class="page-container-bg-solid">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <include file="Public/header_top" keywords="productdet"/>

    <!-- END HEADER -->
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container" style="background-color: #ffffff;margin-top:115px;">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <!--<div class="page-head">-->
                    <!--<div class="container">-->
                    <!--&lt;!&ndash; BEGIN PAGE TITLE &ndash;&gt;-->
                    <!--<div class="page-title">-->
                    <!--<h1>Search Results-->
                    <!--<small>search results</small>-->
                    <!--</h1>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END PAGE TITLE &ndash;&gt;-->
                    <!--&lt;!&ndash; BEGIN PAGE TOOLBAR &ndash;&gt;-->
                    <!--&lt;!&ndash; END PAGE TOOLBAR &ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->


                    <div class="page-head" style=" <?php if($pc == 'notpc'){ echo 'height：300px';} else{echo 'height: 500px;';}?>">
                        <!--<div class="page-head" style="background:url('__PUBLIC__/resource/pages/media/gallery/item_img.jpg') no-repeat;height: 500px; ">-->

                        <img  style=" <?php if($pc == 'notpc'){ echo 'height：300px;';} else{echo 'height: 500px;';}?>width: 100%; " src="__PUBLIC__/img/product_banner.jpg">
                        <!--<div class="container">-->
                        <!--&lt;!&ndash; BEGIN PAGE TITLE &ndash;&gt;-->
                        <!--<div class="page-title">-->
                        <!--<h1>About Us-->
                        <!--<small>about us page</small>-->
                        <!--</h1>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END PAGE TITLE &ndash;&gt;-->
                        <!--&lt;!&ndash; BEGIN PAGE TOOLBAR &ndash;&gt;-->

                        <!--&lt;!&ndash; END PAGE TOOLBAR &ndash;&gt;-->
                        <!--</div>-->

                    </div>


                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content" style="margin-top: 10px;">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <!--<ul class="page-breadcrumb breadcrumb">-->
                            <!--<li>-->
                            <!--<a href="index.php">首页</a>-->
                            <!--<i class="fa fa-circle"></i>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#">产品众筹</a>-->
                            <!--&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;-->
                            <!--</li>-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#">众筹资讯</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#">General</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>Search</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->



                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="search-page search-content-1">


                                    <!--<div class="search-bar ">-->
                                    <!--<div class="row">-->
                                    <!--<div class="col-md-7">-->
                                    <!--<div class="input-group">-->
                                    <!--<input type="text" class="form-control" placeholder="Search for...">-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn blue uppercase bold" type="button">Search</button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-5">-->
                                    <!--<p class="search-desc clearfix"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque. </p>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!---->

                                    <div class="row">





















                                        <div class="page-content-inner col-md-7" style="margin-bottom:25px;">
                                            <div class="profile">
                                                <div class="tabbable-line tabbable-full-width">
                                                    <ul class="nav nav-tabs" style="text-align: center;">
                                                        <li class="active" style="width: 50%;">
                                                            <a href="#tab_1_1" data-toggle="tab"> 产品主页 </a>
                                                        </li>
                                                        <li style="width: 50%;">
                                                            <a href="#tab_1_2" data-toggle="tab"> 项目动态 </a>
                                                        </li>

                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab_1_1">
                                                            <div class="row">
                                                                <div class="col-md-12">



                                                                    <p style="margin-top:0px;font-weight: 600;text-align: center;font-size: 18px;">我们想要做什么？</p>
                                                                    <p style="text-indent:2em;">魔币以数据为出发点，结合行业热点，对当前数字货币在全球的发展趋势作出分析和判断。为数字货币投资者提供专业的实时行情大数据分析服务(社会化情绪指数、社会化大数据)，帮助用户在投资时作出更加好的决定，为广大数字货币爱好者提供一个自由的网上交易的平台。
                                                                        　　<p style="text-indent:2em;">魔币网数据分析将为您提供如下帮助：
                                                                    　　<p style="text-indent:2em;">1、揭示数字货币行业的在全球的发展情况;
                                                                    　　<p style="text-indent:2em;">2、为数字货币行业相关企业制定竞争策略、规划发展方向等提供数据支持;
                                                                    　　<p style="text-indent:2em;">3、为投资其它竞争币提供相关数据上的支持和建议;
                                                                    　　<p style="text-indent:2em;">4、为短线交易者的交易操作提供实时行情大数据支持和建议。
                                                                    　　<p style="text-indent:2em;">首先，数字货币和区块链技术正逐渐进入主流社会，各行业中应用这些新技术的创业机会很多。
                                                                    　　<p style="text-indent:2em;">以比特币为首的数字货币和其底层的区块链技术，从2015年下半年以来，已成为各国政府和传统金融巨头资本关注的热点。以中国为例，2016年1月20日，中国央行在北京召开数字货币研讨会，明确央行发行数字货币的战略目标，宣告“争取早日推出央行发行的数字货币"。
                                                                    　　<p style="text-indent:2em;">其次，市场现有数字货币发展存在误区和怪圈，一定有新的打法可以实现突破。
                                                                    　　<p style="text-indent:2em;">继比特币之后，世界各国数字货币创新虽然层出不穷，但我们可以看到，包括比特币在内的所有数字货币的价格和市值，与其市场应用范围和用户发展规模不相称，市值过高而用户数还小。以比特币为例，流通总市值接近1百亿美金，但全球玩家累计仅几百万人;当前市值排名第二的以太坊Ethereum，面世仅两年，总市值达10亿美金，但其全球用户仅数万。
                                                                    　　<p style="text-indent:2em;">绝大多数的数字货币都存在这样的现象，究其背后的原因，主要有三点：
                                                                    　　<p style="text-indent:2em;">一是数字货币技术复杂，对一般用户而言早期这些产品使用门槛太高，只能是极客玩具，进不了主流，所以各类应用生态迟迟没有建立起来。最典型的例子即是比特币，相比传统手段，比特币跨境支付优势那么明显，但一般人根本玩不会比特币钱包。
                                                                    　　<p style="text-indent:2em;">二是区块链去中心化是一巨大创新，但也是商业运营的效率掣肘和发展障碍。以比特币扩容为例，各方纷纷提出方案，争吵半年，至今无结论，严重制约了比特币的持续发展，减缓了本来可以更高的发展速度，更让诸多比特币粉丝寒了心。
                                                                    <p style="text-indent:2em;">三是数字货币作为未来前景光明，且流动性强的合法资产，已成为全球社会各类投资者投机者青睐的投资标的，造成市价和市值偏高，甚至大幅高于其实际价值。



                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--tab_1_2-->
                                                        <div class="tab-pane" id="tab_1_2">
                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    　  <p style="margin-top:-20px;font-weight: 600;text-align: center;font-size: 18px;">项目进展
                                                                    <p style="text-indent:2em;">第一阶段、预计需要3个月
                                                                        　　<p style="text-indent:2em;">建立起魔币官网现货交易平台，并且上线BTC/ETC、LTC/ETC、XMR/ETC等电子加密数字货币，同时上线魔币平台；
                                                                    　　<p style="text-indent:2em;">第二阶段、预计需要3个月
                                                                    　　<p style="text-indent:2em;">建立魔币的钱包系统，此钱包系统将部署在魔币官网注册成功用户后台，使魔币用户可以简便地基于魔币钱包系统创造价值和交易；
                                                                    　　<p style="text-indent:2em;">第三阶段、无限期
                                                                    　　<p style="text-indent:2em;">魔币将会持续为魔币用户长期提供代币流动性支撑，同时对其他数字货币提供交易流动性，并且继续对市场进行调研，推出更多用户认可的金融产品。
                                                                    <p style="font-weight: 600;text-align: center;font-size: 18px;">为什么我需要你的支持
                                                                    <p style="text-indent:2em;">魔币项目未来需要深化大数据分析技术的开发，进一步推广营销，为行业提供更专业、更有效的数据分析，本次众筹所得资金全部用于魔币项目的开发和市场营销。
                                                                    <p style="text-indent:2em;">同时魔币项目即将加大市场推广力度，发展和落地魔币的各项商业模式，并且将在国内市场基本稳健发展的状态下，启动多语言版及海外市场运营。
                                                                    <p style="text-indent:2em;">最后魔币项目任何数字加密货币爱好者，持有者都应高度关注，并以此判断ETC未来的价值和发展。


                                                                    <p style="text-align: center;"><img style="width: 100%;" src="__PUBLIC__/images/yxtgcl.png"/></p>
                                                                    　　<p style="text-indent:2em;">第一阶段：推广快速发展玩家阶段
                                                                    　　<p style="text-indent:2em;">初期人群定位为大中专院校学生人群(80-95后学生玩家)，及各类数字货币存量玩家。用户免费游戏，免费领币，推广另有奖励，以APP内在的激励机制，快速扩大口碑和用户规模。
                                                                    　　<p style="text-indent:2em;">第二阶段：拓展线下商家和推广线上平台
                                                                    　　<p style="text-indent:2em;">基于用户较密集的区域，例如某地高校商圈，官方地推和招募当地玩家推广员两种手段，扩展线下商家。推广员将获得更多LMC奖励，而商家可获得海量人流，进而获得超额经营利润。
                                                                    　　<p style="text-indent:2em;">同期，官方挑选优质的线上服务业进行合作，例如百度竞价推广及其他推广产品、各大自媒体社交平台、手游、电商、分期理财等各类移动互联网。
                                                                    　　<p style="text-indent:2em;">第三阶段：魔币上升发展阶段
                                                                    <p style="text-indent:2em;">经过前两个阶段的迭代，魔币将进入到持续稳定的上升阶段，随后持续有海量新用户和各界商家主动加入，将魔币持续发展扩大。
                                                                    <p style="text-align: center;"><img style="width: 100%;" src="__PUBLIC__/images/cqwl.png"/></p>








                                                                </div>
                                                                <!--end col-md-9-->
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>












                                        <include file="Public/productdet_right"/>



                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <include file="Public/quick_sidebar"/>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <include file="Public/page_footer"/>
</div>
<!-- BEGIN QUICK NAV -->

<!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/resource/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/search.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/resource/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


<script src="__PUBLIC__/resource/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>



<script src="__PUBLIC__/resource/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/portfolio-4.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/js/main.js" type="text/javascript"></script>

<script>

    $(document).ready(function () {
        $("#progress").animate({"width":"85%"});



        $(window).resize(function () {
            console.log($(window).width());
        })

    })

</script>



</body>

</html>