<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>众筹</title>
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.yb.css">
    <link rel="stylesheet" href="__ROOT__/Public/css/main.css">
    <link rel="shortcut icon" href="__PUBLIC__/images/icoo.ico" type="image/x-icon" />

</head>
<body>
<include file="sdk"  />

<div class="container-fluid">


    <include file="Public/header"/>

    <div class="main-pannel clearfix col-sm-24">
        <div class="left-pannel pull-left col-sm-16 col-xs-24">
            <div class="row pannel-container time-axis-container clearfix">

                <div class="pull-left col-sm-12 time-axis left-time-axis hidden-xs">
                    <p class="publish-day">上线第1天</p>
                    <p class="start-time">项目上线2016-12-28 16:00:00</p>
                    <p class="publish-desc">由 郭伟城 发起的项目「熊猫矿机 B1+ （专业显卡矿机）」上线了。 此项目必须 在 2017年01月22日23:59 之前， 达到
                        ¥1,480,000 的目标才可成功。</p>
                    <span class="circle"></span>
                </div>
                <div class="pull-right col-sm-12 time-axis right-time-axis hidden-xs">
                    <p class="publish-day">上线第2天</p>
                    <p class="start-time">项目上线2016-12-28 16:00:00</p>
                    <p class="publish-desc"> 由 郭伟城 发起的项目「熊猫矿机 B1+ （专业显卡矿机）」上线了。 此项目必须 在 2017年01月22日23:59 之前， 达到
                        ¥1,480,000 的目标才可成功。</p>
                    <span class="circle"></span>
                </div>
                <div class="pull-left col-sm-12 time-axis left-time-axis hidden-xs">
                    <p class="publish-day">上线第3天</p>
                    <p class="start-time">项目上线2016-12-28 16:00:00</p>
                    <p class="publish-desc">由 郭伟城 发起的项目「熊猫矿机 B1+ （专业显卡矿机）」上线了。 此项目必须 在 2017年01月22日23:59 之前， 达到
                        ¥1,480,000 的目标才可成功。</p>
                    <span class="circle"></span>
                </div>

                <div class="xs-time-axis">
                    <div class="full-time-axis col-xs-24 time-axis visible-xs-block">
                        <p class="publish-day">上线第1天</p>
                        <p class="start-time">项目上线2016-12-28 16:00:00</p>
                        <p class="publish-desc">由 郭伟城 发起的项目「熊猫矿机 B1+ （专业显卡矿机）」上线了。 此项目必须 在 2017年01月22日23:59 之前， 达到
                            ¥1,480,000 的目标才可成功。</p>
                        <span class="circle"></span>
                    </div>
                    <div class="full-time-axis col-xs-24 time-axis visible-xs-block">
                        <p class="publish-day">上线第2天</p>
                        <p class="start-time">项目上线2016-12-28 16:00:00</p>
                        <p class="publish-desc">由 郭伟城 发起的项目「熊猫矿机 B1+ （专业显卡矿机）」上线了。 此项目必须 在 2017年01月22日23:59 之前， 达到
                            ¥1,480,000 的目标才可成功。</p>
                        <span class="circle"></span>
                    </div>

                    <div class="full-time-axis col-xs-24 time-axis visible-xs-block">
                        <p class="publish-day">上线第3天</p>
                        <p class="start-time">项目上线2016-12-28 16:00:00</p>
                        <p class="publish-desc">由 郭伟城 发起的项目「熊猫矿机 B1+ （专业显卡矿机）」上线了。 此项目必须 在 2017年01月22日23:59 之前， 达到
                            ¥1,480,000 的目标才可成功。</p>
                        <span class="circle"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="right-pannel pull-right col-sm-7 col-xs-24">
            <div class="row pannel-container">
                <div class="pannel-item">
                    <h2 class="slide-title"><span class="slide-rect"></span>众筹进度</h2>
                    <p class="funding-money">目前累计资金:<span class="money-num">¥6666666</span></p>
                    <p class="funding-desc">此项目须在 <span class="funding-end-time">2017年01月22日23时59分</span>前，获得 <span
                            class="funding-goal">1,480,000.00</span>的支持才可成功!</p>
                    <p class="funding-progress">众筹进度<span id="progress_precent" class="progress-precent">100%</span></p>
                    <p class="funding-progress-bar-container"><span id="funding_progress_bar" class="funding-progress-bar"></span></p>
                    <ul class="funding-detail clearfix">
                        <li class="funding-detail-item col-sm-12 col-xs-8"><span
                                class="glyphicon glyphicon-user detail-icon"></span><span class="detail-title">支持人数:</span><span class="detail-data">6人</span>
                        </li>
                        <li class="funding-detail-item col-sm-12 col-xs-8"><span
                                class="glyphicon glyphicon-time detail-icon"></span><span class="detail-title">剩余天数:</span><span class="detail-data">已成功</span>
                        </li>
                        <li class="funding-detail-item col-sm-16 col-xs-8"><span
                                class="glyphicon glyphicon-flag detail-icon"></span><span class="detail-title">开始时间:</span><span class="detail-data">2017-03-21</span>
                        </li>
                    </ul>
                </div>
                <div class="pannel-item">
                    <h2 class="slide-title"><span class="slide-rect"></span>支持¥10.0000/(一份起)</h2>
                    <p class="slide-detail clearfix"><span class="pull-left">不限额</span><span
                            class="pull-right">已购1份</span></p>
                    <p class="slide-desc">感谢您的支持，众筹结束后，每满1500名将由币众筹官方抽取1名用户，获得价值15000元的熊猫矿机PandaMiner B1
                        Plus一台，不足1500人将不抽取，德邦包邮。</p>
                    <img src="__ROOT__/Public/images/product.png" alt="" class="img-responsive product-img">
                    <p class="product-desc clearfix"><span class="pull-left">运费:包邮</span><span class="pull-right">预计发放时间:项目成功后30天内</span>
                    </p>
                    <span class="funding-btn" onclick="callpay()">支持RMB</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="fix-pannel">-->
<!--<div class="slide-bar qq-bar">-->
<!--<img src="images/qq.png" alt="" class="bar-image">-->
<!--QQ:66666666666-->
<!--</div>-->
<!--<div class="slide-bar phone-bar">-->
<!--<img src="images/phone.png" alt="" class="bar-image">-->
<!--电话:13333333333-->
<!--</div>-->
<!--<div class="return-top" id="return_top">-->
<!--<span class="glyphicon glyphicon-menu-up"></span>-->
<!--</div>-->
<!--</div>-->
<script src="__ROOT__/Public/js/jquery.min.js"></script>
<script src="__ROOT__/Public/js/main.js"></script>

</body>
</html>