
<!--<hr>-->
<!--<hr>{$appid}-->
<!--<hr>{$timestamp}-->
<!--<hr>{$nonceStr}-->
<!--<hr>{$signature}-->
<!--<hr>-->

<script type="text/javascript">


    //调用微信JS api 支付
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
        <?php echo $jsApiParameters; ?>,
        function(res,data){
            WeixinJSBridge.log(res.err_msg);
//            alert(res.err_code+res.err_desc+res.err_msg);
        }
    );
    }



    function callpay(jsApiParameters)
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall(jsApiParameters), false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall(jsApiParameters));
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall(jsApiParameters));
            }
        }else{
            jsApiCall(jsApiParameters);
        }
    }
</script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>



<script>
    //            alert({$signature});

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$appid}', // 必填，公众号的唯一标识
        timestamp: '{$timestamp}', // 必填，生成签名的时间戳
        nonceStr: '{$nonceStr}', // 必填，生成签名的随机串
        signature: '{$signature}',// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline',     //分享到朋友圈
            'onMenuShareAppMessage',  //分享给朋友
            'scanQRCode',             //扫二维码
            'chooseImage',         //拍照或从手机相册中选图接口
            'startRecord',         //开始录音接口
            'stopRecord',         //停止录音接口
            'onVoiceRecordEnd',  //监听录音自动停止接口
            'playVoice',     //播放语音接口
            'pauseVoice',   //暂停播放接口
            'stopVoice',  //停止播放接口
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

        //                获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline({
            title: '众筹', // 分享标题
            link: '{$HOST_ROOT}index.php?m=home&c=index&a={$action}', // 分享链接
            imgUrl: 'http://www.h5edu.cn/Public/assets/img/logo_blue.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });


        //                获取“分享给朋友”按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage({
            title: '众筹', // 分享标题
            desc: '我亦有心无处说，爱酒舍人开小酌，静夜忆谁来对坐，静时闲语上龙墀。', // 分享描述
            link: '{$HOST_ROOT}index.php?m=home&c=index&a={$action}', // 分享链接
            imgUrl: 'http://www.h5edu.cn/Public/assets/img/logo_blue.png', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
//                alert("分享成功");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
//                alert("已取消");
            }
        });



//        document.querySelector("#Qrcode").onclick = function (){
//            wx.scanQRCode({
//                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
//                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
//                success: function (res) {
//                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
//                }
//            });
//
//        }

//        document.querySelector("#startRecord").onclick = function () {
//            wx.startRecord(); // 开始录音接口
//        }
//
//        //停止录音接口
//        document.querySelector("#stopRecord").onclick = function () {
//            wx.stopRecord({
//                success: function (res) {
//                    var localId = res.localId;
//                }
//            });
//        }






    });



    wx.error(function(res){

        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

    });





</script>


