<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />


    <title>产品众筹-多宝金豆专注于区块链去中心化数字货币</title>
    <meta name="keywords" content="产品众筹,多宝,金豆,多宝金豆,区块链,众筹,数字货币">
    <meta name="description" content="多宝金豆数字货币ICO众筹项目应用区块链技术去中心化、不可篡改、匿名性、天然审计特点，为传统游戏带来了更安全便捷、分布式交易、透明性和时效性等特点，为广大ICO众筹者实现了自己的创业梦想。">




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PUBLIC__/resource/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PUBLIC__/resource/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/resource/pages/css/search.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <link href="__PUBLIC__/resource/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />

    <link href="__PUBLIC__/resource/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/resource/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/resource/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->



    <link rel="stylesheet" href="__PUBLIC__/wap/css/style.css" media="screen" />

    <link rel="shortcut icon" href="__PUBLIC__/images/icoo.ico" type="image/x-icon" />



    <!-- ############################# Javascript - Modernizr ############################# -->

    <script src="__PUBLIC__/wap/js/modernizr.custom.js"></script>

    <style>
        .new_item{
            padding-bottom:10px;
        }
        .nav_top_head{
            margin-right:30px;
            font-size:18px;

        }
        .nav_color_head{
            color:#000000;
        }
        .nav_color_head:hover{
            /*text-decoration: underline !important;*/
            color:red;
        }
        .nav_color_head2:link{
            color:#000000;
        }
        .nav_color_head2:hover{
            color:red;
        }
        .nav_color_head:active,.nav_color_head:visited.nav_color_head:link{
            text-decoration: none !important;
            color:#000000 !important;
        }

        .label_style{
            display: inline-block;
            margin-bottom:10px;
            font-size: 18px;
        }
        .time_color{
            color:#000000 !important;
        }
        .p_header{
            text-align: center;font-weight: 600;
        }
        .p_content{
            font-size:16px !important;
            text-indent: 2em;
        }
        .radius{
            /*border-radius:10px !important;*/
        }
    </style>


</head>
<!-- END HEAD -->

<include file="sdk"  />


<body class="page-container-bg-solid">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <include file="Tpl/header" active="productdet" keywords="productdet" display="active"/>

    <!-- END HEADER -->
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container" style="background-color: transparent;margin-top:0px;">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <!--<div class="page-head">-->
                    <!--<div class="container">-->
                    <!--&lt;!&ndash; BEGIN PAGE TITLE &ndash;&gt;-->
                    <!--<div class="page-title">-->
                    <!--<h1>Search Results-->
                    <!--<small>search results</small>-->
                    <!--</h1>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END PAGE TITLE &ndash;&gt;-->
                    <!--&lt;!&ndash; BEGIN PAGE TOOLBAR &ndash;&gt;-->
                    <!--&lt;!&ndash; END PAGE TOOLBAR &ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->


                    <section id="intro-image" class="intro medium clearfix">

                        <div class="intro-captions">
                            <h3 class="caption-title big animated">产品众筹</h3><br>
                            <h3 class="caption-title small animated">多宝金豆利用了区块链去中心化、匿名性、天然审计、不可篡改的特征，以太坊嵌入的智能合约实现了交易自动执行的功能</h3>
                        </div>

                        <!-- Image -->
                        <div class="image zoom news-intro"></div>

                        <!-- Scroll Animation -->
                        <!--<div class="scroll-anim">-->
                        <!--<span class="scroll"></span>-->
                        <!--<span class="scroll-text">Scroll</span>-->
                        <!--</div>-->

                        <!-- Overlay -->
                        <span class="overlay animated"></span>

                    </section>

                    <!--<div class="page-head" style="background: url(__PUBLIC__/wap/placeholders/news.jpg) no-repeat;background-size: 140% 100%;<?php if($pc == 'notpc'){ echo 'height:260px;';} else{echo 'height: 500px;';}?>">-->
                    <!--&lt;!&ndash;<div class="page-head" style="background:url('__PUBLIC__/resource/pages/media/gallery/item_img.jpg') no-repeat;height: 500px; ">&ndash;&gt;-->


                    <!--</div>-->


                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content" style="margin-top: 10px;">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <!--<ul class="page-breadcrumb breadcrumb">-->
                            <!--<li>-->
                            <!--<a href="index.php">首页</a>-->
                            <!--<i class="fa fa-circle"></i>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="#">产品众筹</a>-->
                            <!--&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;-->
                            <!--</li>-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#">众筹资讯</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#">General</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="fa fa-circle"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>Search</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--</ul>-->



                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="search-page search-content-1">


                                    <!--<div class="search-bar ">-->
                                    <!--<div class="row">-->
                                    <!--<div class="col-md-7">-->
                                    <!--<div class="input-group">-->
                                    <!--<input type="text" class="form-control" placeholder="Search for...">-->
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn blue uppercase bold" type="button">Search</button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-5">-->
                                    <!--<p class="search-desc clearfix"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque. </p>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!---->

                                    <div class="row">



                                        <div class="page-content-inner col-md-12" style="margin-bottom:0px;">
                                            <div class="profile radius">
                                                <div class="row">
                                                    <div class="col-md-12">


                                                        <!--<img style="width: 100%;height: 300px;" src="__PUBLIC__/img/new/pro1.jpg"/>-->


                                                        <div>
                                                              <h1 class="p_header" >任投详情</h1>

                                                                <h2 class="p_header p_content" style="float: left;">多宝金豆ICO来啦（创新众筹模式）</h2>

                                                            <p class="p_content dark" style="height: 20px;clear: both;margin-bottom: 30px;" >
                                                                认投金额<span style="font-size:30px;color:red;font-weight: 600;"> ￥790</span> 元 应付人民币<span style="font-size:30px;color:red;font-weight: 600;"> 790￥ </span>  应付比特币<span style="font-size:30px;color:red;font-weight: 600;"> 0.0599฿ </span>  应付<span style="font-size:30px;color:red;font-weight: 600;"> 0.599ETH </span>
                                                            </p>
                                                                <p class="p_content" style="height: 20px;color: red;text-align: justify;" >
                                                                    本次众筹采用固定汇率，1ETH=2366.0239元人民币，1BTC=16666.6667元人民币，1BTC=17803.0977元人民币，1ETH=1780.3098元人民币，1BTC=13719.3031元人民币，1ETH=1114.9515元人民币
                                                                </p>

                                                            <hr style=" background: -moz-linear-gradient(left, red, #f96, yellow, green, #ace);background: -webkit-linear-gradient(left,red,#f96,yellow,green,#ace);background: -o-linear-gradient(left, red, #f96, yellow, green, #ace); height: 5px;"/>
                                                        </div>


                                                        <div>



                                                            <h2 class="p_header p_content" style="float: left;">余额支付</h2>

                                                            <div class="p_content dark" style="height: 20px;clear: both;margin-bottom: 0px;" >
                                                                <div class="md-checkbox has-error" style="width: 350px;">
                                                                    <input type="checkbox" id="checkbox31" class="md-check" >
                                                                    <label for="checkbox31">
                                                                        <span></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span>人名币余额支付 <input type="text" class="form-control" style="width: 150px;float: right;margin-top:-5px;"  /></label>


                                                                </div>


                                                            </div>
                                                            <!--<p class="p_content" style="height: 20px;color: red;text-align: justify;" >-->
                                                                <!--本次众筹采用固定汇率，1ETH=2366.0239元人民币，1BTC=16666.6667元人民币，1BTC=17803.0977元人民币，1ETH=1780.3098元人民币，1BTC=13719.3031元人民币，1ETH=1114.9515元人民币-->
                                                            <!--</p>-->

                                                            <!--<hr style=" background: -moz-linear-gradient(left, red, #f96, yellow, green, #ace);background: -webkit-linear-gradient(left,red,#f96,yellow,green,#ace);background: -o-linear-gradient(left, red, #f96, yellow, green, #ace); height: 5px;"/>-->
                                                        </div>



                                                    </div>
                                                </div>

                                            </div>
                                        </div>















                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <include file="Public/quick_sidebar"/>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <include file="Tpl/footer"/>
</div>
<!-- BEGIN QUICK NAV -->











<!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/resource/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/resource/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<!--<script src="__PUBLIC__/resource/global/plugins/jquery.min.js" type="text/javascript"></script>-->
<script src="__PUBLIC__/resource/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/resource/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/resource/global/scripts/app.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/resource/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/search.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/resource/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


<script src="__PUBLIC__/resource/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/resource/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>



<script src="__PUBLIC__/resource/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/resource/pages/scripts/portfolio-4.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/js/main.js" type="text/javascript"></script>





<!--<script src="__PUBLIC__/wap/js/jquery.min.js"></script>-->
<script src="__PUBLIC__/wap/js/jquery.easing-1.3.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.queryloader2.min.js"></script>
<script src="__PUBLIC__/wap/js/smoothscroll.js"></script>
<script src="__PUBLIC__/wap/js/waypoints.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.transit.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.scrollTo.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.small.plugins.js"></script>
<script src="__PUBLIC__/wap/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/wap/js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="__PUBLIC__/wap/js/retina.min.js"></script>

<!--&lt;!&ndash; Custom scripts &ndash;&gt;-->
<script src="__PUBLIC__/wap/js/custom.js"></script>














<script>

    $(document).ready(function () {
        $("#progress").animate({"width":"85%"});



        $(window).resize(function () {
            console.log($(window).width());
        })

    })

</script>



</body>

</html>