<!-- ############################# Intro Image ############################# -->
<section id="intro-image" class="intro medium clearfix">

    <div class="intro-captions">
        <h3 class="caption-title big animated">{$Think.lang._Footer_about_us}</h3><br>
        <h3 class="caption-title small animated">{$Think.lang._About_small_title}</h3>
    </div>

    <!-- Image -->
    <div class="image zoom news-intro" style="background-image:url(__PUBLIC__/img/new/aboutme2.jpg) !important;"></div>

    <!-- Scroll Animation -->
    <!--<div class="scroll-anim">-->
    <!--<span class="scroll"></span>-->
    <!--<span class="scroll-text">Scroll</span>-->
    <!--</div>-->

    <!-- Overlay -->
    <span class="overlay animated"></span>

</section>