<!-- ############################# Intro Image ############################# -->
<section id="intro-image" class="intro medium clearfix">

    <div class="intro-captions">
        <h3 class="caption-title big animated">关于我们</h3><br>
        <h3 class="caption-title small animated">多宝金豆关于我们为您提供平台简介及新手注册、充值、交易等帮助</h3>
    </div>

    <!-- Image -->
    <div class="image zoom news-intro" style="background-image:url(__PUBLIC__/img/new/aboutme2.jpg) !important;"></div>

    <!-- Scroll Animation -->
    <!--<div class="scroll-anim">-->
    <!--<span class="scroll"></span>-->
    <!--<span class="scroll-text">Scroll</span>-->
    <!--</div>-->

    <!-- Overlay -->
    <span class="overlay animated"></span>

</section>