<div class="profile-sidebar">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet radius">


        <div class="profile-usermenu" style="margin-top: 0px;">
            <h4  class="hidden_my font-blue-madison" style="padding-left: 50px;margin: 0px 0px 10px;">
                {$Think.lang._Footer_about_us}
            </h4>
            <ul class="nav hidden_nav" style="<?php if($pc == 'notpc'){ echo 'display:block;';} ?>">
                <li class="<?php if('[active]' == 'about'){ echo 'active';} ?>">
                    <a href="index.php?&a=about">
                        <!--<i class="icon-home"></i>-->
                        {$Think.lang._About_dbcoin_introduction}
                    </a>
                </li>

                <li class="<?php if('[active]' == 'newuserzc'){ echo 'active';} ?>">
                    <a href="index.php?&a=newuserzc">
                        <!--<i class="icon-home"></i>-->
                        {$Think.lang._About_newuserzc}
                    </a>
                </li>
                <!--<li class=" ">-->
                    <!--<a href="index.php?&a=about">-->
                        <!--&lt;!&ndash;<i class="icon-settings"></i>&ndash;&gt;-->
                        <!--账户设置-->
                    <!--</a>-->
                <!--</li>-->
                <li class="<?php if('[active]' == 'helpcenter'){ echo 'active';} ?>">
                    <a href="index.php?&a=helpcenter">
                        <!--<i class="icon-info"></i> -->
                        {$Think.lang._About_help_center}
                    </a>
                </li>
            </ul>
        </div>

        <div class="profile-usermenu " style="margin-top: 0px;">
            <h4 class="hidden_my font-blue-madison" style="padding-left: 50px;margin: 0px 0px 10px;">
                {$Think.lang._Footer_help}

            </h4>
            <ul class="nav hidden_nav" style="<?php if($pc == 'notpc'){ echo 'display:block;';} ?>">
                <li class="<?php if('[active]' == 'signupguide'){ echo 'active';} ?>">
                    <a href="index.php?&a=signupguide">
                        <!--<i class="icon-home"></i>-->
                        {$Think.lang._Footer_registration_guide}


                    </a>
                </li>
                <li class="<?php if('[active]' == 'rechargeguide'){ echo 'active';} ?>">
                    <a href="index.php?&a=rechargeguide">
                        <!--<i class="icon-settings"></i>-->
                        {$Think.lang._Footer_recharge_guide}

                    </a>
                </li>
                <li class="<?php if('[active]' == 'tradingguide'){ echo 'active';} ?>">
                    <a href="index.php?&a=tradingguide">
                        <!--<i class="icon-info"></i> -->
                        {$Think.lang._Footer_trading_guide}

                    </a>
                </li>
            </ul>
        </div>





        <!-- END MENU -->
    </div>
    <!-- END PORTLET MAIN -->

</div>