<div class="profile-sidebar">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet radius">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">


            <!--<img src="http://www.placehold.it/151x150/EFEFEF/AAAAAA&amp;text=no+image" style="width: 150px;height: 150px;" class="img-responsive" alt=""> </div>-->
            <!--<img src="<?php echo $_SESSION['account']['head']; ?>" onerror="javascript:this.src='__PUBLIC__/img/kaola.jpg';" style="width: 150px;height: 150px;" class="img-responsive" alt=""> </div>-->
        <img src="<?php echo $_SESSION['account']['head']; ?>" onerror="javascript:this.src='__PUBLIC__/images/tou.jpg';" style="width: 150px;height: 150px;" class="img-responsive" alt=""> </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name"> <?php echo $_SESSION['account']['user_name']; ?> </div>
            <!--<div class="profile-usertitle-job"> Developer </div>-->
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!--<div class="profile-userbuttons">-->
        <!--<button type="button" class="btn btn-circle green btn-sm">Follow</button>-->
        <!--<button type="button" class="btn btn-circle red btn-sm">Message</button>-->
        <!--</div>-->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <!--<li>-->
                <!--<a href="index.php?&a=account_set">-->
                <!--<i class="icon-home"></i> Overview </a>-->
                <!--</li>-->
                <li class="<?php if('[active]' == 'account_set'){ echo 'active';} ?>">
                    <a href="index.php?&a=account_set">
                        <!--<i class="icon-settings"></i>-->
                        个人资料
                    </a>
                </li>

                <li class="<?php if('[active]' == 'account_zhongchou'){ echo 'active';} ?>">
                    <a href="index.php?&a=account_zhongchou">
                        <!--<i class="icon-settings"></i>-->
                        我的众筹
                    </a>
                </li>

                <li class="<?php if('[active]' == 'account_zhongchou_history'){ echo 'active';} ?>">
                    <a href="index.php?&a=account_zhongchou_history">
                        <!--<i class="icon-settings"></i>-->
                        历史纪录
                    </a>
                </li>

                <!--<li class="<?php if('[active]' == 'account_certification'){ echo 'active';} ?>">-->
                    <!--<a href="index.php?&a=account_certification">-->
                        <!--&lt;!&ndash;<i class="icon-settings"></i>&ndash;&gt;-->
                        <!--实名认证-->
                    <!--</a>-->
                <!--</li>-->

                <li class="<?php if('[active]' == 'account_dbjd_detail'){ echo 'active';} ?>">
                    <a href="index.php?&a=account_set">
                        <!--<i class="icon-settings"></i>-->
                        金豆明细
                    </a>
                </li>



                <!--<li class="active2">-->
                <!--<a href="index.php?&a=account_set">-->
                <!--<i class="icon-info"></i> 帮助中心 </a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- END MENU -->
    </div>
    <!-- END PORTLET MAIN -->

</div>
