
<style>


    .footer_h4{
        font-size: 18px !important;
    }


</style>


<!-- ############################# Footer ############################# -->
<footer id="footer" style="padding: 10px 0 10px;">
    <div class="container" >
        <!-- Footer Columns -->
        <div class="footer-col" style="<?php  if($pc == 'pc'){ echo 'width: 25%;';} ?>">

            <div style="text-align: center" >
                <h4>

                    <img style="width: 160px;height: 50px;display: block;margin:0 auto;margin-bottom: 30px;" src="__PUBLIC__/images/logo1.png" alt="logo" class="logo-default">

                </h4>
                <div style="text-align: center;<?php if($pc == 'pc'){ echo '';}else{ echo 'margin:0 auto;';};?>">

                    {$Think.lang._Footer_time}：9:00-18:00<br/>
                    {$Think.lang._Footer_qq_group}：123456789<br/>

                    {$Think.lang._Footer_customer_phone}：400-1111-1234<br/>
                    {$Think.lang._Footer_cooperative_mailbox}：ebo@mbc.com<br/>
                </div>


                <!--<br>-->
                <!--Melbourne, Australia +01 800 559 6580 <br>-->
                <!--<a href="#">demo@demolink.com</a>-->
            </div>
        </div>

        <div class="footer-col" style="<?php  if($pc == 'pc'){ echo 'width: 25%;';} ?>">
            <!--<h4>Let's Talk</h4>-->
            <div style="text-align: center">
                <h4>{$Think.lang._Footer_about_us}</h4>
                <h4 class="footer_h4 footer_my_hover" onclick="window.location.href='index.php?a=about';">{$Think.lang._DBCoin} </h4>
                <h4 class="footer_h4 footer_my_hover" onclick="window.location.href='index.php?a=news';">{$Think.lang._Header_news}</h4>
                <h4 class="footer_h4 footer_my_hover" onclick="window.location.href='index.php?a=productdet';">{$Think.lang._Header_productdet}</h4>


            </div>
            <!--<a class="stamp-button" href="#"><span>Get in touch</span></a>-->
            <br>
        </div>

        <div class="footer-col" style="<?php  if($pc == 'pc'){ echo 'width: 25%;';} ?>">
            <!--<h4>Let's Talk</h4>-->
            <!--<p>-->
                <!--Lorem ipsum dolorsit amet, consectetur adipiscing elit. In sagittis tincidunt leo ut volutpat.-->
            <!--</p>-->
            <!--<a class="stamp-button" href="#"><span>Get in touch</span></a>-->
            <!--<br>-->
            <div style="text-align: center">

                <h4>{$Think.lang._Footer_help}</h4>
                <h4 class="footer_h4 footer_my_hover" onclick="window.location.href='index.php?a=signupguide';">{$Think.lang._Footer_registration_guide}</h4>
                <h4 class="footer_h4 footer_my_hover" onclick="window.location.href='index.php?a=rechargeguide';">{$Think.lang._Footer_recharge_guide}</h4>
                <h4 class="footer_h4 footer_my_hover" onclick="window.location.href='index.php?a=tradingguide';">{$Think.lang._Footer_trading_guide}</h4>


            </div>


        </div>


        <div class="footer-col last" style="<?php  if($pc == 'pc'){ echo 'width: 25%;';} ?>">
            <div style="text-align: center">

                <h4>{$Think.lang._Footer_contact_us}</h4>
                <!--smooth-link-->
                <!--<a  href="index.html" class=" " style="text-decoration: none !important;border: 0px;"><img src="__PUBLIC__/images/sina.svg" style="width: 50px!important;height: 41px!important;;" ></a>-->
                <!--<a  href="index.html" class=" " style="text-decoration: none !important;border: 0px;"><img src="__PUBLIC__/images/qq.svg" style="width: 50px!important;;height: 41px!important;;" ></a>-->

                <img src="__PUBLIC__/wap/tubiao/weibo1.svg" onmouseover="this.src='__PUBLIC__/wap/tubiao/weibo2.svg';" onmouseout="this.src='__PUBLIC__/wap/tubiao/weibo1.svg';" style="width: 40px!important;height: 41px!important;" >&nbsp;
                <img src="__PUBLIC__/wap/tubiao/qq1.svg" onmouseover="this.src='__PUBLIC__/wap/tubiao/qq2.svg';" onmouseout="this.src='__PUBLIC__/wap/tubiao/qq1.svg';" style="width: 40px!important;height: 41px!important;" >&nbsp;
                <img src="__PUBLIC__/wap/tubiao/wechat1.svg" onmouseover="this.src='__PUBLIC__/wap/tubiao/wechat2.svg';" onmouseout="this.src='__PUBLIC__/wap/tubiao/wechat1.svg';" style="width: 40px!important;height: 41px!important;" >&nbsp;
                <img src="__PUBLIC__/wap/tubiao/phone1.svg" onmouseover="this.src='__PUBLIC__/wap/tubiao/phone2.svg';" onmouseout="this.src='__PUBLIC__/wap/tubiao/phone1.svg';" style="width: 40px!important;height: 41px!important;" >


                <!--<a class="social-icon" href="#"><img   src="__PUBLIC__/images/sina.svg" /></a>-->
                <!--<a class="social-icon" href="#"><img   src="__PUBLIC__/images/qq.svg" /></a>-->

                <!-- Footer socials icons -->
                <!--<a class="social-icon" href="#"><i class="icon icon-twitter"></i></a>-->
                <!--<a class="social-icon" href="#"><i class="icon icon-facebook"></i></a>-->
                <!--<a class="social-icon" href="#"><i class="icon icon-vimeo"></i></a>-->
                <!--<a class="social-icon" href="#"><i class="icon icon-youtube"></i></a>-->
                <!--<a class="social-icon" href="#"><i class="icon icon-flickr"></i></a>-->

                <br/>
                <img  style="width: 80px;margin-top:10px;" src="__PUBLIC__/images/wechat.png"/>&nbsp;
                <img  style="width: 80px;margin-top:10px;" src="__PUBLIC__/images/wechat.png"/>


            </div>


        </div>
        <!-- /footer columns -->
    </div>
</footer>
<!-- /footer -->

<!-- Footer Note -->
<div id="footer-note">
    <p>
        Copyright © 2017 dbjd.9ebo.com All rights Reserved
        <!--<a href="#">Rascals Themes</a>-->
    </p>


</div>
<!-- /footer note -->